//
// Atum List Tables RTL
//------------------

.search-box, p.search-box {
	padding-left: 1px;
	padding-right: 0px;
	margin: 20px auto 20px 10px;
	
	#search_column_btn{
		border-left: 1px solid var(--main-border-alt);
		border-right: none;
		
		@if $enable-rounded {
			border-top-right-radius : $border-radius;
			border-bottom-right-radius: $border-radius;
			border-top-left-radius : 0;
			border-bottom-left-radius: 0;
		} @else {
			border-radius: 0;
		}
	}
	
	.input-group{
		padding-right: 0px;
	}
}

.atum-list-wrapper {
	
	.subsubsub {
		
		li {
			margin-right: 0px;
			margin-left: 15px;
			
			span {
				margin-left: 0px;
				margin-right: 3px;
			}
		}
	}
}

table.wp-list-table {
	th {
		
		&.check-column {
			padding: 11px 3px 0 20px;
		}
	}
}

table.atum-list-table {
	
	th {
		
		&.sortable{
			
			&.numeric {
				
				a {
					
					> span {
						
						&:first-child{
							padding-left: 0;
							padding-right: 10px;
						}
					}
				}
			}
		}
	}
	
}

.atum-table-wrapper{
	overflow-x: auto;
	
	.subsubsub {
		
		&.extend-list-table {
			
			li {
				
				span{
					margin-left: 0;
					margin-right: 3px;
				}
			}
		}
	}
}

.overflow-opacity-effect-right {
	right: auto;
	left: 0;
	background-image: var(--overflow-opacity-left);
}

.overflow-opacity-effect-left {
	display: none;
	left: auto;
	right: 0;
	background-image: var(--overflow-opacity-rigth);
}

.tablenav {
	
	&.top {
		
		.tablenav-pages-container {
			
			.tablenav-pages {
				margin: 0 auto 0 0;
			}
		}
	}
}
