# System files
.DS_Store

# Dev dependencies
node_modules
*.map
.idea
.vscode
package-lock.json
yarn.lock
.vite-dist

# mPDF temp dir
vendor/mpdf/mpdf/ttfontdata/*
vendor/mpdf/mpdf/tmp/*

# Dev files
*Dev.php
