<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="atum-stock-manager-addons">
			<directory prefix="test-" suffix=".php">./tests/addons/</directory>
		</testsuite>
		<testsuite name="atum-stock-manager-components">
			<directory prefix="test-" suffix=".php">./tests/components/</directory>
		</testsuite>
		<testsuite name="atum-stock-manager-dashboard">
			<directory prefix="test-" suffix=".php">./tests/dashboard/</directory>
		</testsuite>
		<testsuite name="atum-stock-manager-data-export">
			<directory prefix="test-" suffix=".php">./tests/dataexport/</directory>
		</testsuite>
		<testsuite name="atum-stock-manager-inbound-stock">
			<directory prefix="test-" suffix=".php">./tests/inbound-stock/</directory>
		</testsuite>
		<testsuite name="atum-stock-manager-inc">
			<directory prefix="test-" suffix=".php">./tests/inc/</directory>
		</testsuite>
		<testsuite name="atum-stock-manager-inventory">
			<directory prefix="test-" suffix=".php">./tests/inventory-logs/</directory>
		</testsuite>
	</testsuites>
</phpunit>
