//
// ATUM FOOTER
//------------

#wpfooter {
	padding-top: 0;
	display: none;
	
	.footer-box {
		height: 90px;
		background: $white url("#{$img-path}stock-central/bg-footer.png") no-repeat center 81%;
		background-size: cover;
		border-radius: 8px;
		box-shadow: 0 4px 0 0 $gray-200;
		padding: 0 23px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		&.no-style {
			background-image: none;
			background-color: transparent;
			box-shadow: none;
			padding: 0;
			height: auto;
			
			.footer-atum-logo, .footer-atum-buttons, #footer-left, .clear {
				display: none;
			}
		}
		
		
		.footer-atum-logo {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 6.4px 0 5px;
			
			img {
				width: 34px;
			}
			
			span {
				color: $blue-dark;
				font-size: 27px;
				margin-left: 10px;
				font-weight: bold;
			}
		}
		
		.footer-atum-text {
			font-size: 12px;
			
			span {
				color: $wp-link;
			}
			
			.wc-rating-link {
				text-decoration: none;
			}
		}
		
		.footer-atum-buttons {
			display: flex;
			align-items: center;
			
			.footer-button {
				padding: 0 22px;
				font-size: 12px;
				line-height: 30px;
				text-decoration: none;
				text-transform: uppercase;
				
				&:first-child {
					margin-right: 10px;
				}
			}
			
			@include tablet-max-wp {
				display: none;
			}
			
		}
		
		@include mobile-max{
			padding: 14px 23px;
		}
		
	}
	
	#footer-upgrade {
		display: none;
	}
	
	@include tablet-max-wp{
		display: block;
		margin-left: 0 !important;
	}
}