//
// Atum Attachments meta box
//--------------------------

.atum-attachments-list {
	
	li {
		position: relative;
		background-color: $gray-200;
		padding: 10px;
		
		.delete-attachment {
			position: absolute;
			top: -4px;
			right: -3px;
			font-size: 1.2rem;
			cursor: pointer;
			border: 1px solid $white;
			border-radius: 50%;
			box-sizing: border-box;
			display: none;
			color: $gray-600;
			
			&:hover {
				color: $wc-red;
			}
		}
		
		&:hover {
			.delete-attachment {
				display: block;
			}
		}
	}
	
	label {
		font-size: 12px;
		display: block;
		margin-bottom: 3px;
	}
	
	img {
		max-width: 100%;
		margin-top: 10px;
	}
	
}