//
// Atum Data Export
//-----------------

// Export Tab
#atum-export-link-wrap {
	float: right;
	height: 28px;
	margin: 0 0 0 6px;
	border: 1px solid $wp-gray-4;
	border-top: none;
	background: $white;
	box-shadow: 0 1px 1px -1px rgba($black, .1);
}

#atum-export-wrap {
	margin: 0;
	padding: 8px 20px 12px;
	position: relative;
	
	legend, h5 {
		margin: 0;
		padding: 8px 0;
		font-size: 13px;
		font-weight: 600;	
	}
	
	fieldset {
		margin-bottom: 10px;
		width: auto;
		float: left;
		margin-right: $grid-gutter-width;
		
		&.title-length {
			clear: left;
			
			input[type=number] {
				display: inline-block;
				vertical-align: middle;
				max-width: 58px;
			}
			
			label {
				margin-left: 5px;
			}
		}
		
	}

}


// Reports
.atum-report {
	padding-top: $grid-gutter-width/2;
	
	.report-header {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: $grid-gutter-width/2;
		vertical-align: top;
		
		.report-data, .report-details {
			padding: $grid-gutter-width/2;
			border-top: 2px solid $secondary;
			border-bottom: 2px solid $secondary;
		}
		
		.report-data {
			border-left: 2px solid $secondary;
			
		}
		
		.report-details {
			border-right: 2px solid $secondary;
		}
		
		.space {
			width: 20px;
		}
		
		.inventory-resume {
			padding: $grid-gutter-width/2;
			border: 2px solid $warning;
		}
		
		h5 {
			margin: 0;
			text-transform: uppercase;
			font-size: 13px;
		}
		
		p {
			color: $dark;
		}
		
		.warning-color {
			color: $secondary;
		}
		
		.success-color {
			color: $tertiary;
		}
		
		.danger-color {
			color: $danger;
		}
		
	}
	
	.atum-list-table {
		thead {
			th {
				background-color: $white;
			}
		}
		
		tbody {
			td {
				vertical-align: middle;
			}
		}
	}

	h1 {
		color: $primary;
		text-transform: uppercase;
		font-size: 38px;
		font-weight: bold;
		margin-top: 10px;
	}
	
	h3 {
		font-size: 24px;
		font-weight: normal;
		color: $secondary;
		margin-top: 5px;
	}
	
}