.swal2-container {
	
	.marketing-popup {
		
		height: 433px;
		padding: 10px;
		
		.swal2-image {
			width: 143px;
			height: auto;
			position: absolute;
			top: 0;
			margin: 10px 0;
		}
		
		.swal2-content {
			font-size: 14px;
			line-height: 1.29;
			text-align: center;
			color: $gray-500;
			
			h1 {
				font-weight: 400;
				font-size: 34px;
				margin: 0 0 10px;
			}
			
			p {
				margin: 0;
			}
			
			button {
				margin: 0 5px;
				&.btn-success,&.btn-success:focus, &.btn-outline-success, &.btn-outline-success:focus {
					box-shadow: none;
				}
				&.btn-outline-success {
					background: $white;
					&:hover {
						background: $green;
					}
				}
			}
			
		}
		
		.swal2-confirm {
			margin-right: 10px;
		}
		
		.mp-logo {
			width: 150px;
			height: auto;
		}
	}
	
}
