.atum-list-wrapper, #posts-filter {
	.displaying-num {
		color: $gray-600;
	}
	.pagination-links {
		color: $gray-600;
		
		.tablenav-pages-navspan, .tablenav-current-page, #current-page-selector {
			border-radius: 5px;
			border: none;
			color: $gray-500;
			padding: 0;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-decoration: none;
			
			@include tablet-max-wp {
				width: 35px;
				height: 35px;
			}
		}
		
		#current-page-selector {
			border: 1px solid $gray-200;
			
			&:focus {
				outline: 0;
				box-shadow: none;
			}
			
			@include tablet-max-wp {
				font-size: 13px;
			}
		}
		
		.tablenav-pages-navspan {
			background-color: $gray-100;
		}
		
		.tablenav-current-page {
			background-color: $gray-200;
			padding: 8px 12px 6px;
			
			@include tablet-max-wp {
				padding: 8px 15px 11px;
			}
		}
		
		.paging-input, .table-paging {
			@include tablet-max-wp {
				margin: 0;
			}
		}
		
		@include tablet-max-wp {
			font-size: 13px;
		}
		
		.tablenav-paging-text {
			@include mobile-max{
				width: auto;
				float: none;
				padding: 0;
				margin-left: auto;
			}
		}
	}
	
	.tablenav-pages {
		a {
			border-radius: 5px;
			border: none;
			color: $gray-500;
			padding: 0;
			line-height: 30px;
			width: 30px;
			height: 30px;
			text-decoration: none;
			background-color: $gray-200;
			
			&:hover, &:focus {
				background-color: $gray-200;
				color: $gray-500;
			}
			
			@include tablet-max-wp{
				width: 35px;
				height: 35px;
			}
		}
	}
}
