//
// Atum List Tables for Post Types
//--------------------------------

#posts-filter {
	width: 100%;
	overflow: hidden;
	background-color: $white;
	box-shadow: 0 4px 0 0 $gray-200;
	padding: 0 0 10px;
	border-radius: 8px;
	
	.tablenav-pages {
		float: none;
		flex-grow: 1;
	}
}

.wp-heading-inline {
	~ .subsubsub {
		display: none;
	}
}