//
// Help tip
//---------

.atum-help-tip {
	color: $gray-500;
	display: inline-block;
	font-size: 1.1em;
	font-style: normal;
	height: 16px;
	line-height: 16px;
	position: relative;
	vertical-align: middle;
	width: 16px;
	
	&:hover {
		color: $gray-600;
	}
	
	&::after {
		@include atum-icon-font-family;
		content: $atmi-question-circle;
		cursor: help;
	}
}

h2 .atum-help-tip {
	margin-top: -5px;
	margin-left: 0.25em;
}