//
// Switchery customizations
// -------------------------

.switchery {
	width: 48px;
	border-radius: 100px;
	box-shadow: inset 1px 1px 3px 0 var(--black-shadow) !important;
	border: none;
	
	small {
		height: 26px;
		width: 26px;
		top: -3px;
		background-color: var(--tertiary-var);
		box-shadow: none;
	}
}