//
// Atum settings page
//-------------------

@import "common/functions";
@import "common/variables";
@import "common/mixins";
@import "common/breakpoints";
@import "common/animations";

@import "atoms/buttons";
@import "atoms/select2";
@import "atoms/atum-icons";

@import "molecules/button-groups";
@import "molecules/sweet-alert";
@import "atoms/switchery";
@import "molecules/atum-footer";

@import "organisms/pages/settings";