//
// "Stats Data" widgets
//-----------------------

.stats-data-widget {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	.data {
		margin-top: $grid-gutter-width*2;
		width: 100%;
		flex-grow: 1;
		
		@include tablet-max {
			margin-top: $grid-gutter-width/2;
		}
	}
	
	h3, h5 {
		margin: 10px 0;
	}
	
	h3 {
		&.widget-success {
			color: var(--dash-stats-data-widget-success) !important;
		}
		
		&.widget-primary {
			color: var(--primary) !important;
		}
		
		font-size: 35px;
		font-weight: bold;
	}
	
	h5 {
		font-size: 15px;
		color: var(--atum-text-color-var1);
		font-weight: 100;
		text-transform: uppercase;
	}
	
	hr {
		border: {
			width: 1px;
			color: var(--gray-400);
			bottom: none;
		}
		margin: $grid-gutter-width 0;
	}
	
	.nice-select {
		@include mobile-max {
			font-size: 12px;
			height: 36px;
			line-height: 34px;
		}
	}
	
}