//
// Buttons
//---------

.btn {
	padding: 7px 12px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	@include transition(.2s ease-in-out);
	
	&:hover, &:focus {
		&:not(:disabled) {
			color: #FFF;
		}
	}
	
	&:disabled {
		cursor: default;
		opacity: 0.7;
	}
	
	&:focus {
		outline: none;
		box-shadow: none;
	}
	
	&.pill {
		border-radius: 16px;
	}
	
}

.btn-success {
	color: #FFF;
	background-color: $btn-success;
	
	&:hover:not(:disabled) {
		background-color: transparentize($btn-success, 0.25);
	}
}

.btn-primary {
	color: #FFF;
	background-color: $btn-primary;
	
	&:hover:not(:disabled) {
		background-color: transparentize($btn-primary, 0.25);
	}
}

.btn-warning {
	color: #FFF;
	background-color: $btn-warning;
	
	&:hover:not(:disabled) {
		background-color: transparentize($btn-warning, 0.25);
	}
}

.btn-danger {
	color: #FFF;
	background-color: $btn-danger;
	
	&:hover:not(:disabled) {
		background-color: transparentize($btn-danger, 0.25);
	}
}

.btn-info {
	color: $gray-dark;
	background-color: $btn-info;
	
	&:hover:not(:disabled) {
		background-color: transparentize($btn-info, 0.25);
	}
}

.btn-sm {
	padding: 5px 14px;
	font-size: 9px;
}