//
// Button groups
//---------------

// Make the div behave like a button
.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-flex;
	vertical-align: middle; // match .btn alignment given font-size hack above
	
	> .btn {
		position: relative;
		flex: 0 1 auto;
		
		// Bring the hover, focused, and "active" buttons to the front to overlay
		// the borders properly
		@include hover {
			z-index: 1;
		}
		&:focus,
		&:active,
		&.active {
			z-index: 1;
		}
	}
	
	// Prevent double borders when buttons are next to each other
	.btn + .btn,
	.btn + .btn-group,
	.btn-group + .btn,
	.btn-group + .btn-group {
		margin-left: -$btn-border-width;
	}
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
	@include flexbox;
	@include flex-wrap(wrap);
	@include flex-justify-content(flex-start);
	
	.input-group {
		width: auto;
	}
}

.btn-group {
	> .btn:first-child {
		margin-left: 0;
	}
	
	// Reset rounded corners
	> .btn:not(:last-child):not(.dropdown-toggle),
	> .btn-group:not(:last-child) > .btn {
		@include border-right-radius(0);
	}
	
	> .btn:not(:first-child),
	> .btn-group:not(:first-child) > .btn {
		@include border-left-radius(0);
	}
}

// Sizing
//
// Remix the default button sizing classes into new ones for easier manipulation.

.btn-group-sm > .btn { @extend .btn-sm; }
.btn-group-lg > .btn { @extend .btn-lg; }


//
// Split button dropdowns
//

.dropdown-toggle-split {
	padding-right: $btn-padding-x * .75;
	padding-left: $btn-padding-x * .75;
	
	&::after,
	.dropup &::after,
	.dropright &::after {
		margin-left: 0;
	}
	
	.dropleft &::before {
		margin-right: 0;
	}
}

.btn-sm + .dropdown-toggle-split {
	padding-right: $btn-padding-x-sm * .75;
	padding-left: $btn-padding-x-sm * .75;
}

.btn-lg + .dropdown-toggle-split {
	padding-right: $btn-padding-x-lg * .75;
	padding-left: $btn-padding-x-lg * .75;
}


// The clickable button for toggling the menu
// Set the same inset shadow as the :active state
.btn-group.show .dropdown-toggle {
	@include box-shadow($btn-active-box-shadow);
	
	// Show no shadow for `.btn-link` since it has no other button styles.
	&.btn-link {
		@include box-shadow(none);
	}
}