.switchery-small {
	width: 48px;
	border-radius: 100px;
	box-shadow: inset -1px 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
	small {
		height: 26px;
		width: 26px;
		top: -3px;
		background-color: $green;
	}
}