//
// Atum Dashboard Widget
//----------------------

.atum-statistics-widget {
	
	.stat-tables {
		@include flexbox;
		@include flex-wrap(wrap);
	}
	
	.atum-table {
		width: 50%;
		
		table {
			width: 100%;
			padding: 5px;
		}
		
		&.right {
			float: right;
		}
		
		&.left {
			float: left;
		}
		
		th {
			font-weight: 400;
			padding: 5px;
			text-align: left;
			text-transform: uppercase;
			border-bottom: 1px solid $brand-info;
			width: 100%;
			background-color: #FAFAFA;
		}
		
		td {
			padding: 3px 0;
			
			&.amt {
				text-align: right;
			}
		}
		
		tbody {
			tr {
				&:first-child {
					td {
						padding-top: 10px;
					}
				}
			}
		}
		
		&.config-table {
			
			th {
				.th-wrap {
					@include flexbox;
					@include flex-align-items(center);
					
					> span {
						&:first-child {
							@include flex-grow(1);
						}
						
						&:last-child {
							text-align: right;
						}
					}
				}
			}
			
			input[type=checkbox] {
				margin: 0;
			}
			
			&:last-of-type {
				margin-bottom: $grid-gutter-width/2;
			}
			
		}
	}
	
	.stock-counters {
		margin-top: $grid-gutter-width;
		@include flexbox;
		
		.stock-indicator {
			width: 33.33%;
			text-align: center;
		}
	}
	
	.circle {
		display: inline-block;
		position: relative;
		text-align: center;
		line-height: 1.2;
		
		strong {
			@include vertical-align-absolute;
			left: 0;
			width: 100%;
			text-align: center;
			line-height: 40px;
			font-size: 21px;
		}
		
		span {
			display: block;
			margin-top: 10px;
		}
		
		+ div {
			font-size: 12px;
		}
	}
	
	~ p.submit {
		text-align: right;
	}
	
}