//
// Atum Data Export
//-----------------

#atum-export-link-wrap {
	float: right;
	height: 28px;
	margin: 0 0 0 6px;
	border: 1px solid #ddd;
	border-top: none;
	background: #fff;
	box-shadow: 0 1px 1px -1px rgba(#000, .1);
}

#atum-export-wrap {
	margin: 0;
	padding: 8px 20px 12px;
	position: relative;
}

#atum-export-wrap legend, #atum-export-wrap h5 {
	margin: 0;
	padding: 8px 0;
	font-size: 13px;
	font-weight: 600;
}