//
// Atum List Tables
//------------------

h1.wp-heading-inline {
	line-height: 1.5;
	position: relative;
	
	#atum-update-list {
		margin-left: 5px;
		border-radius: 0;
		vertical-align: middle;
		
		&:active {
			color: $white;
			padding: 0 10px 1px;
			box-shadow: 0 1px 0 $wp-link;
		}
	}
}

.atum-list-wrapper {
	padding-top: 2px;
	padding-bottom: 20px;
	width: 100%;
	overflow: hidden;
	
	a {
		&:focus {
			box-shadow: none;
		}
	}
	
	.search-box {
		@include flexbox;
		display: inline-block;
		float: right;
		margin-right: 3px;
		margin-bottom: 3px;
		min-width: 400px;

		.atum-post-search {
			margin-right: 0;
		}
		
		.input-group-append {
			border: none;
		}
		
		.dropdown-toggle {
			&:after {
				vertical-align: middle;
			}
		}

		.dropdown-menu{
			margin-top: 0px;
			right: 0px;
			
		}

		.dropdown-item{
			width: auto;
		}

	}
	
	.search-submit {
		margin-left: 4px;
	}
	
	.tablenav-pages, .search-box {
		position: relative;
	}
	
	.subsubsub {
		position: relative;
		margin-left: 3px;
		margin-top: 0;
		
		a {
			&.current, &.empty {
				pointer-events: none;
				color: $black;
				
			}
		}
		
		.reset-filters {
			border-radius: 50%;
			width: 25px;
			height: 25px;
			text-align: center;
			border: none;
			background-color: $primary;
			color: $white;
			padding: 2px 0 0;
			cursor: pointer;
			position: relative;
			@include transition(0.2s ease-in-out);
			
			&:focus {
				outline: none;
			}
			
			&:hover {
				background-color: darken($primary, 5%);
			}
			
			i {
				font-size: 18px;
			}
		}
	}
	
	.actions {
		
		&.bulkactions {
			padding-right: 0;
			
			select {
				max-width: 150px;
			}
		}
		
		input, select, .select2-container {
			height: 32px;
			margin-bottom: 4px;
			margin-right: 2px;
			float: left;
		}
		
		.select2-container {
			margin-top: 1px;
			margin-right: 2px;
			font-size: 14px;
			
			&, * {
				&:focus {
					outline: none;
				}
			}
			
			&:focus {
				.select2-selection {
					box-shadow: 0 0 2px rgba($input-focus, .8);
					border-color: $input-focus;
				}
			}
			
			.select2-selection__placeholder {
				color: $dark !important;
			}
			
			.select2-selection__arrow {
				b {
					border-top-color: $dark;
				}
			}
		}
		
		
		.filter-text {
			display: inline;
			float: left;
			line-height: 28px;
			padding-right: 10px;
		}
		
		.dropdown_extra_filter {
			max-width: 160px;
		}
		
	}
	
}

// Enhanced Select fix
.select2-dropdown {
	.select2-results__option {
		&:focus {
			outline: none;
		}
	}
}

.atum-table-wrapper {
	clear: both;
	
	// JScrollpane
	.jspContainer {
		overflow: hidden;
		position: relative;
	}
	
	.jspPane {
		position: absolute;
	}
	
	.jspVerticalBar, .jspCap, .jspArrow {
		display: none;
	}
	
	.jspHorizontalBar {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 16px;
		
		.jspCap {
			float: left;
		}
		
		.jspTrack, .jspDrag {
			float: left;
			height: 100%;
		}
		
		.jspArrow {
			width: 16px;
			float: left;
			height: 100%;
		}
	}
	
	.jspTrack {
		background: rgba($secondary, 0.2);
		position: relative;
	}
	
	.jspDrag {
		background: $secondary;
		position: relative;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	
	.jspCorner {
		background: $light;
		float: left;
		height: 100%;
	}
	
}

.atum-list-table {
	margin-bottom: 15px;
	
	thead .item-heads, tfoot {
		background-color: $white;
		th {
			padding: 3px 5px;
			line-height: 1.1;
			font-size: 13px;
			min-width: 50px;
			height: 42px;
			
			.dashicons {
				display: block;
				text-indent: -9999px;
				position: relative;
				height: 1em;
				width: 1em;
				margin: 0 auto;
				font-size: 14px;
				
				&:before {
					text-indent: 0;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
	
	.column-groups {
		th {
			padding-left: 10px;
			font-weight: 500;
			
			&:nth-child(even) {
				background-color: $light;
			}
		}
	}
	
	th {
		&.sortable, &.sorted {
			a {
				padding: 0;
				@include flexbox;
			}
			
			&[class*="column-calc_"], &.column-_stock, &.column-_regular_price, &.column-_sale_price,
			&.column-_purchase_price, &.column-ID, &.column-_supplier_sku, &.column-_weight {
				a {
					@include flex-justify-content(center);
					
					> span {
						float: none;
						
						&:first-child {
							padding-left: 10px;
						}
					}
				}
			}
		}
		
		&.check-column {
			input[type=checkbox] {
				@include vertical-align-absolute;
			}
		}
	}
	
	tr {
		
		&.even {
			background-color: $light;
		}
		
		&.expanded {
			@include transition(all 0.1s ease-in-out);
			
			&.variable, &.variable-subscription {
				background-color: $primary;
			}
			
			&.group {
				background-color: $warning;
			}
			
			td, a {
				color: $white;
			}
			
			.column-calc_type {
				.has-child {
					
					&.product-type {
						&:before {
							content: "\e004";
							color: $white;
						}
					}
					
					&.product-type-icon {
						svg {
							.st1 {
								fill: $white;
							}
						}
					}
					
				}
			}
		}
		
		&.expandable {
			.check-column {
				input[type=checkbox] {
					margin-left: 20px;
				}
			}
		}
		
		&.variation {
			background-color: lighten($primary, 46%);
			
			&:nth-child(even) {
				background-color: lighten($primary, 50%);
			}
		}
		
		&.grouped {
			background-color: lighten($warning, 32%);
			
			&:nth-child(even) {
				background-color: lighten($warning, 40%);
			}
		}
		
		&.no-items {
			td {
				padding: 10px 24px;
			}
		}
		
		&.totals {
			background-color: darken($light, 7%);
			
			td, th {
				font-size: 12px;
				font-weight: 400;
				color: $dark;
				padding-top: 0;
				padding-bottom: 0;
				
				span {
					display: inline-block;
					background-color: $blue-dark;
					color: $white;
					border-radius: 2px;
					padding: 2px 4px;
					min-width: 20px;
					
					&.danger {
						background-color: $danger;
					}
				}
			}
		}
		
	}
	
	.cell {
		&-green {
			color: $success;
		}
		
		&-yellow {
			color: $warning;
		}
		
		&-red {
			color: $danger;
		}
		
		&-blue {
			color: $primary;
		}
	}
	
	td, th {
		position: relative;
		vertical-align: middle;
		padding: 6px 5px;
		
		&.pro-version {
			background-color: $secondary;
		}
		
		&.column-title {
			min-width: 150px;
			
			> span {
				white-space: nowrap;
			}
		}
		
		&.column-sku {
			min-width: 70px;
		}
		
		&[class*="column-calc_"], &.column-_stock, &.column-_regular_price, &.column-_sale_price,
		&.column-_purchase_price, &.column-ID, &.column-_supplier_sku, &.column-_weight {
			text-align: center;
		}
		
		a {
			cursor: pointer;
		}
		
	}
	
	.column-thumb {
		height: 40px;
	}
	
	.column-calc_type {
		max-width: 50px;
		text-align: center;
		
		.has-child {
			cursor: pointer;
			
			&.product-type {
				
				&.variable, &.variable-subscription {
					color: $primary;
				}
				
				&.variable-subscription {
					&:before {
						content: "\e003";
					}
				}
				
				&.grouped {
					color: $warning;
				}
				
				&:hover {
					&:before {
						content: "\e005";
					}
				}
				
			}
			
		}
		
		.variation, .grouped-item {
			&:before {
				content: "\e039";
			}
		}
		
		.product-part, .raw-material {
			display: block;
			padding-top: 6px;
		}
	}
	
	.set-meta {
		cursor: pointer;
		color: $link-color;
		
		&:hover {
			color: $link-hover-color;
		}
		
		&.unsaved {
			color: $danger;
		}
	}
	
	.highlight-danger {
		background-color: $danger;
		color: $white;
		padding: 2px 3px;
		border-radius: 2px;
	}
	
	#calc_stock_out_days {
		min-width: 56px;
	}
	
	.column-calc_stock_indicator {
		.dashicons {
			font-size: 1.4em !important;
		}
	}
	
	.atum-title-small {
		display: none;
	}
	
	@media screen and (max-width: 782px) {
		.column-groups {
			display: none;
		}
		
		.column-thumb {
			display: none;
			
			&:before {
				content: none;
			}
		}
		
		tr:not(.inline-edit-row):not(.no-items) td.column-thumb:not(.column-primary)::before {
			content: none;
		}
		
		.tips {
			display: none;
		}
		
		.atum-title-small {
			display: block;
		}
		
		td.thumb.column-thumb {
			text-align: left;
		}
	}
}

// Manage Stock notice
.atum-notice {
	@include flexbox;
	@include flex-align-items(center);
	
	.manage-message {
		position: relative;
		@include flex-grow(1);
	}
	
	.notice-dismiss {
		top: 50%;
		@include transform(translateY(-50%));
	}
	
	.add-manage-option {
		margin-top: 3px;
	}
}

// Help Tabs
.contextual-help-tabs-wrap {
	padding: 20px;
	
	table {
		tr {
			td {
				&:first-child {
					width: 20%;
				}
			}
		}
	}
	
	.dashicons-format-image {
		font-size: 18px;
	}
	
	.wc-type {
		&:before {
			font-family: WooCommerce;
			content: "\e006";
			font-size: 18px;
			top: 0;
			speak: none;
			font-variant: normal;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			left: 0;
		}
	}
}

