//
// Bootstrap Popovers
// --------------------------------------------------

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $zindex-popover;
	display: none;
	max-width: $popover-max-width;
	padding: 1px;
	background-color: $popover-bg;
	background-clip: padding-box;
	border: 1px solid $popover-fallback-border-color;
	border: 1px solid $popover-border-color;
	border-radius: $popover-border-radius;
	box-shadow: 0 5px 10px rgba($black, .2);
	
	// Offset the popover to account for the popover arrow
	&.top {
		margin-top: -$popover-arrow-width;
	}
	
	&.right {
		margin-left: $popover-arrow-width;
	}
	
	&.bottom {
		margin-top: $popover-arrow-width;
	}
	
	&.left {
		margin-left: -$popover-arrow-width;
	}
}

.popover-title {
	margin: 0; // reset heading margin
	padding: 6px 14px;
	font-size: 14px;
	background-color: $popover-title-bg;
	border-bottom: 1px solid darken($popover-title-bg, 5%);
	border-radius: ($popover-border-radius - 1) ($popover-border-radius - 1) 0 0;
	text-align: center;
	
	.atum-list-table & {
		text-align: center;
	}
}

.popover-content {
	padding: 9px 14px;
}

// Arrows
//
// .popover-arrow is outer, .popover-arrow:after is inner

.popover > .popover-arrow {
	&,
	&:after {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
	}
}
.popover > .popover-arrow {
	border-width: $popover-arrow-outer-width;
}
.popover > .popover-arrow:after {
	border-width: $popover-arrow-width;
	content: "";
}

.popover {
	&.top > .popover-arrow {
		left: 50%;
		margin-left: -$popover-arrow-outer-width;
		border-bottom-width: 0;
		border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
		border-top-color: $popover-arrow-outer-color;
		bottom: -$popover-arrow-outer-width;
		
		&:after {
			content: " ";
			bottom: 1px;
			margin-left: -$popover-arrow-width;
			border-bottom-width: 0;
			border-top-color: $popover-arrow-color;
		}
	}
	
	&.right > .popover-arrow {
		top: 50%;
		left: -$popover-arrow-outer-width;
		margin-top: -$popover-arrow-outer-width;
		border-left-width: 0;
		border-right-color: $popover-arrow-outer-fallback-color; // IE8 fallback
		border-right-color: $popover-arrow-outer-color;
		
		&:after {
			content: " ";
			left: 1px;
			bottom: -$popover-arrow-width;
			border-left-width: 0;
			border-right-color: $popover-arrow-color;
		}
	}
	
	&.bottom > .popover-arrow {
		left: 50%;
		margin-left: -$popover-arrow-outer-width;
		border-top-width: 0;
		border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
		border-bottom-color: $popover-arrow-outer-color;
		top: -$popover-arrow-outer-width;
		
		&:after {
			content: " ";
			top: 2px;
			margin-left: -$popover-arrow-width;
			border-top-width: 0;
			border-bottom-color: $popover-arrow-color;
		}
	}
	
	&.left > .popover-arrow {
		top: 50%;
		right: -$popover-arrow-outer-width;
		margin-top: -$popover-arrow-outer-width;
		border-right-width: 0;
		border-left-color: $popover-arrow-outer-fallback-color; // IE8 fallback
		border-left-color: $popover-arrow-outer-color;
		
		&:after {
			content: " ";
			right: 1px;
			border-right-width: 0;
			border-left-color: $popover-arrow-color;
			bottom: -$popover-arrow-width;
		}
	}
	
}