//
// Product Data meta box
//----------------------

.product_data {
	
	input[type=text], input[type=number], textarea {
		&.tips {
			cursor: text;
		}
		
		&:disabled, &:read-only {
			cursor: default;
		}
	}
	
	&_tabs {
		.atum_tab {
			
			a {
				&:before {
					content: '' !important;
					background-image: url("#{$img-path}atum-icon-mono.png");
					width: 13px;
					height: 13px;
					background-size: cover;
					@include vertical-align-absolute;
				}
				
				> span {
					padding-left: 13px;
				}
			}
			
		}
	}
	
	.atum-field {
		
		.input-group-text {
			padding: 2px 7px 3px;
		}
		
		input[type=text], input[type=number] {
			width: calc(80% - 31px) !important;
			padding-top: 4px;
			padding-bottom: 4px;
			max-height: 27px;
			
			&:focus {
				box-shadow: none;
				border-color: $input-focus;
			}
		}
		
		.select2-container, .select2-selection--single, .select2-selection__rendered {
			&:focus {
				box-shadow: none;
				outline: none;
			}
		}
		
		.select2-container {
			float: none;
			max-width: calc(80% - 31px) !important;
			
			.select2-selection--single {
				height: auto;
				margin: 0;
				font-size: $font-size-base;
				
				.select2-selection__rendered {
					line-height: 1.8;
				}
				
				.select2-selection__arrow {
					height: 25px;
				}
				
				&:focus {
					border-color: $input-focus;
				}
			}
		}
		
	}
	
	.atum-data-panel {
		.atum-section-title {
			font-size: 1.15em;
			padding-left: 10px;
		}
	}
	
	.woocommerce-help-tip {
		~ .switchery {
			margin-left: 10px;
		}
	}
	
}

.woocommerce_variations {
	
	.form-row-first, .form-row-last {
		.atum-field {
			position: relative;
			margin-top: 2px;
			
			input[type=text], input[type=number] {
				margin-top: 0;
				width: calc(100% - 33px) !important;
			}
			
			.select2-container {
				max-width: calc(100% - 33px) !important;
			}
			
			.woocommerce-help-tip {
				position: absolute;
				top: -25px;
				right: 0;
			}
			
		}
	}
	
	.atum-data-panel {
		border-top: 1px solid $wp-gray-4;
		padding-top: $grid-gutter-width/2;
		
		label {
			&:not(.btn) {
				float: left;
				margin-right: 10px;
				min-width: 130px;
			}
		}
		
		.form-field {
			@include flexbox;
			@include flex-align-items(center);
			
			&:first-of-type {
				margin: 25px 0;
			}
		}
		
	}
	
	h2.atum-section-title {
		border: 1px solid $info;
		background-color: $blue-light;
		color: $wp-gray-2;
		text-transform: uppercase;
		cursor: default !important;
		margin: ($grid-gutter-width/2) (-$grid-gutter-width)  !important;
		padding: 1.1em !important;
		text-align: center;
		font-weight: 600;
		
		img {
			vertical-align: -4px;
			margin-right: 5px;
		}
	}
	
	h4.atum-section-title {
		margin-top: $grid-gutter-width;
		padding-bottom: 10px;
		padding-left: 0 !important;
		border-bottom: 1px dashed $secondary;
	}
	
	.alert {
		margin: 10px auto;
		padding: 0.35rem 0.75rem;
	}
	
}

#tiptip_holder {
	ul {
		text-align: left;
		padding-left: 10px;
		
		li {
			list-style: circle;
			line-height: 1.3;
		}
	}
}