//
// Sweet alert customizations
//----------------------------

.swal2-container {
	z-index: 100000000;
	
	.swal2-content, .swal2-title {
		margin-bottom: $grid-gutter-width;
	}
	
	.swal2-title {
		line-height: 1.3;
		font-size: 23px;
	}
	
	p {
		font-size: 15px;
		text-align: center;
	}
	
	button, a {
		@include transition(all 0.2s ease-in-out);
		
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	
	a {
		text-decoration: none;
		color: $brand-success;
		
		&:hover {
			color: lighten($brand-success, 10%);
		}
	}
}