//
// ATUM Tree
//-----------

.atum-tree {
	position: relative;
	min-height: 100px;
	
	.alert {
		margin-top: $grid-gutter-width/2;
		font-size: 12px;
		text-align: left;
	}
	
	.no-locations-set {
		@include flex-justify-content(center);
	}
}

.ui-helper-hidden {
	display: none;
}

ul.easytree-container {
	font-size: 15px;
	font-weight: normal;
	line-height: 1.3;
	white-space: nowrap;
	padding: 3px;
	margin: 0;
	border: 1px solid $info;
	border-radius: 6px;
	overflow: auto;
	height: 100%;
	text-align: left;
	padding: 10px 5px;
	
	&:focus {
		outline: none;
	}
	
	ul {
		padding: 0 0 0 16px;
		margin: 0;
		
		&:focus {
			outline: none;
		}
		
		li {
			list-style: none;
			margin: 0;
			padding: 2px 0;
			
			&, a {
				color: $dark;
			}
			
			&.easytree-lastsib {
				background-image: none;
			}
		}
	}
	
	// Style, when control is disabled
	.ui-easytree-disabled & {
		opacity: 0.5;
		background-color: $secondary;
	}
	
	// Custom icons
	img {
		width: 16px;
		height: 16px;
		margin-left: 3px;
		vertical-align: top;
		border-style: none;
	}
	
}

// Suppress lines if level is fixed expanded (option minExpandLevel)
ul.easytree-no-connector {
	
	> li {
		background-image: none;
	}
	
}

//
// Common icon definitions
//-------------------------

span {
	
	&.easytree-empty, &.easytree-vline, &.easytree-expander, &.easytree-icon {
		width: 16px;
		height: 16px;
		font-size: 17px;
		display: inline-block;
		vertical-align: top;
		font-family: Dashicons;
		cursor: pointer;
		color: $dark;
	}
	
	&.easytree-custom-icon {
		display: inline-block;
	}
	
}

//
// Expander icon
//
// Prefix: easytree-exp-
// 1st character: 'e': expanded, 'c': collapsed, 'n': no children
// 2nd character (optional): 'd': lazy (Delayed)
// 3rd character (optional): 'l': Last sibling
//-----------------------------------------------------------------

span.easytree-expander {
	@include transition(all .2s ease-in-out);
	margin-right: 3px;
	
	&:before {
		content: "\f132"; // dashicons-plus
	}
	
	&:hover {
		color: $primary !important;
	}
}

.easytree-exp-e, .easytree-exp-ed, .easytree-exp-el, .easytree-exp-edl {
	span.easytree-expander {
		&:before {
			content: "\f460"; // dashicons-minus
		}
	}
}

// Connector instead of expander, if node has no children
.easytree-exp-n, .easytree-exp-nl {
	span.easytree-expander {
		cursor: default;
		
		&:before {
			content: '';
			cursor: default;
		}
	}
}

//
// Node type icon
// Note: IE6 doesn't correctly evaluate multiples class names,
//		 so we create combined class names that can be used in the CSS.
//
// Prefix: easytree-ico-
// 1st character: 'e': expanded, 'c': collapsed
// 2nd character (optional): 'f': folder
//----------------------------------------------------------------------

// Default icon
.easytree-ico-c {
	span.easytree-icon {
		margin-left: 3px;
		
		&:before {
			font-family: WooCommerce;
			content: '\e006'; // wcicon-simple
		}
	}
}

// Collapsed Folder
.easytree-ico-ef {
	span.easytree-icon {
		&:before {
			content: '\f480'; // dashicons-archive
			font-size: 18px;
		}
	}
}

// check and uncheck icons for the 1.4.11 update : editable locations on SC
.checked{
	span.easytree-icon {
		&:before {
			color: $blue;
		}
	}
}

//
// Node titles
//-------------

.easytree-title {
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	margin-left: 3px;
	border-radius: 0;
	text-decoration: none;
	cursor: pointer;
	
	a {
		color: $dark !important;
		
		&:hover {
			color: $primary !important;
		}
	}
}

.easytree-focused {
	
	span {
		&.easytree-selected, &.easytree-active {
			.easytree-title {
				background-color: $primary;
				
				&, a {
					color: $white !important;
				}
				
			}
		}
	}
	
}