/** 
 * ATUM Stock Manager for WooCommerce CSS 
 * @version 1.0.0 
 * @author Salva Machí and Jose Piera 
 *
 * Author URI: https://sispixels.com/ 
 * License : (c)2017 Stock Management Labs 
 */ 

.overlay {
  position: relative;
}

.overlay:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.atum-loading {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(0, 115, 170, 0.25);
  border-top-color: #0073AA;
  border-radius: 50%;
  position: absolute;
  z-index: 50;
  -webkit-animation: loader-rotate 1s linear infinite;
  -moz-animation: loader-rotate 1s linear infinite;
  -o-animation: loader-rotate 1s linear infinite;
  animation: loader-rotate 1s linear infinite;
}

@-webkit-keyframes loader-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes loader-rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes loader-rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.atum-list-wrapper {
  padding-bottom: 20px;
  width: 100%;
}

.atum-list-wrapper .search-box input[type=search] {
  margin-right: 0;
  width: 187px;
}

.atum-list-wrapper .search-submit {
  margin-left: 4px;
}

.atum-list-wrapper .tablenav-pages, .atum-list-wrapper .search-box {
  position: relative;
}

.atum-list-wrapper .tablenav-pages .atum-loading, .atum-list-wrapper .search-box .atum-loading {
  left: -30px;
  top: 4px;
}

.atum-list-wrapper .alignleft.actions, .atum-list-wrapper .subsubsub {
  position: relative;
}

.atum-list-wrapper .alignleft.actions .atum-loading, .atum-list-wrapper .subsubsub .atum-loading {
  right: -30px;
  top: 6px;
}

.atum-list-wrapper .actions-wrapper .filter-text {
  display: inline;
  float: left;
  line-height: 28px;
  padding-right: 10px;
}

.atum-table-wrapper .jspContainer {
  overflow: hidden;
  position: relative;
}

.atum-table-wrapper .jspPane {
  position: absolute;
}

.atum-table-wrapper .jspVerticalBar, .atum-table-wrapper .jspCap, .atum-table-wrapper .jspArrow {
  display: none;
}

.atum-table-wrapper .jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
}

.atum-table-wrapper .jspHorizontalBar .jspCap {
  float: left;
}

.atum-table-wrapper .jspHorizontalBar .jspTrack, .atum-table-wrapper .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.atum-table-wrapper .jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.atum-table-wrapper .jspTrack {
  background: rgba(193, 193, 193, 0.2);
  position: relative;
}

.atum-table-wrapper .jspDrag {
  background: #C1C1C1;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.atum-table-wrapper .jspCorner {
  background: #F9F9F9;
  float: left;
  height: 100%;
}

.atum-list-table {
  margin-bottom: 15px;
}

.atum-list-table thead .item-heads th, .atum-list-table tfoot th {
  padding: 3px 5px;
  line-height: 1.1;
  font-size: 13px;
  min-width: 50px;
}

.atum-list-table .group th {
  font-weight: bold;
}

.atum-list-table .group th:nth-child(even) {
  background-color: #F9F9F9;
}

.atum-list-table thead .group th .atum-loading {
  position: static;
  display: inline-block;
  margin-left: 15px;
  width: 10px;
  height: 10px;
}

.atum-list-table .column-_sku, .atum-list-table .column-title {
  white-space: nowrap;
}

.atum-list-table .cell-green {
  color: #00B050;
}

.atum-list-table .cell-yellow {
  color: #FEC007;
}

.atum-list-table .cell-red {
  color: #EF4D5A;
}

.atum-list-table td {
  vertical-align: middle;
}

.atum-list-table td.pro-version {
  background-color: #C1C1C1;
}

.atum-list-table td.ID {
  padding-left: 20px;
  padding-right: 20px;
}

.atum-list-table #title {
  min-width: 124px;
}

.atum-list-table #_sku {
  min-width: 60px;
}

.atum-list-table .column-calc_type .wc-type {
  padding-left: 15px;
}

.atum-list-table #calc_stock_out_days {
  min-width: 56px;
}

.atum-list-table .column-calc_stock_indicator .dashicons {
  font-size: 1.5em;
}

.atum-list-table .atum-title-small {
  display: none;
}

@media screen and (max-width: 782px) {
  .atum-list-table .group {
    display: none;
  }
  .atum-list-table .column-thumb {
    display: none;
  }
  .atum-list-table .column-thumb:before {
    content: none;
  }
  .atum-list-table tr:not(.inline-edit-row):not(.no-items) td.column-thumb:not(.column-primary)::before {
    content: none;
  }
  .atum-list-table .tips {
    display: none;
  }
  .atum-list-table .atum-title-small {
    display: block;
  }
  .atum-list-table td.thumb.column-thumb {
    text-align: left;
  }
}

.notice-management-stock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.notice-management-stock .manage-message {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.notice-management-stock .atum-loading {
  margin-left: 5px;
  margin-top: 3px;
}

.contextual-help-tabs-wrap {
  padding: 20px;
}

.contextual-help-tabs-wrap table tr td:first-child {
  width: 20%;
}

/*# sourceMappingURL=atum-list.css.map */
