/** 
 * ATUM Inventory Management for WooCommerce CSS 
 * @version 1.4.16 
 * @author Be Rebel  
 *
 * Author URI: https://berebel.io 
 * License : Copyright 2018 Stock Management Labs 
 */

 .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 184, 219, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.3;
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-link {
  font-weight: 400;
  color: #0073AA;
  background-color: transparent;
}

.btn-link:hover {
  color: #00A0D2;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.76562rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-primary {
  color: #fff;
  background-color: #00B8DB;
  border-color: #00B8DB;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0098b5;
  border-color: #008da8;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(0, 184, 219, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #00B8DB;
  border-color: #00B8DB;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #008da8;
  border-color: #00829b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(0, 184, 219, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #69C61D;
  border-color: #69C61D;
}

.btn-success:hover {
  color: #fff;
  background-color: #57a518;
  border-color: #519a16;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(105, 198, 29, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #69C61D;
  border-color: #69C61D;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #519a16;
  border-color: #4c8e15;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(105, 198, 29, 0.5);
}

.btn-info {
  color: #212529;
  background-color: #E3E8F5;
  border-color: #E3E8F5;
}

.btn-info:hover {
  color: #212529;
  background-color: #c7d1eb;
  border-color: #bdc9e8;
}

.btn-info:focus, .btn-info.focus {
  color: #212529;
  box-shadow: 0 0 0 0.2rem rgba(227, 232, 245, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  color: #212529;
  background-color: #E3E8F5;
  border-color: #E3E8F5;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #212529;
  background-color: #bdc9e8;
  border-color: #b4c1e4;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  color: #212529;
  box-shadow: 0 0 0 0.2rem rgba(227, 232, 245, 0.5);
}

.btn-warning {
  color: #fff;
  background-color: #EFAF00;
  border-color: #EFAF00;
}

.btn-warning:hover {
  color: #fff;
  background-color: #c99300;
  border-color: #bc8a00;
}

.btn-warning:focus, .btn-warning.focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(239, 175, 0, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #fff;
  background-color: #EFAF00;
  border-color: #EFAF00;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #bc8a00;
  border-color: #af8000;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(239, 175, 0, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #FF4848;
  border-color: #FF4848;
}

.btn-danger:hover {
  color: #fff;
  background-color: #ff2222;
  border-color: #ff1515;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(255, 72, 72, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #FF4848;
  border-color: #FF4848;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff1515;
  border-color: #ff0808;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(255, 72, 72, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
  color: #212529;
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  color: #212529;
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-primary {
  color: #00B8DB;
  background-color: transparent;
  background-image: none;
  border-color: #00B8DB;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #00B8DB;
  border-color: #00B8DB;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 184, 219, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #00B8DB;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #00B8DB;
  border-color: #00B8DB;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 184, 219, 0.5);
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success {
  color: #69C61D;
  background-color: transparent;
  background-image: none;
  border-color: #69C61D;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #69C61D;
  border-color: #69C61D;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 198, 29, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #69C61D;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #69C61D;
  border-color: #69C61D;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 198, 29, 0.5);
}

.btn-outline-info {
  color: #E3E8F5;
  background-color: transparent;
  background-image: none;
  border-color: #E3E8F5;
}

.btn-outline-info:hover {
  color: #212529;
  background-color: #E3E8F5;
  border-color: #E3E8F5;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(227, 232, 245, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #E3E8F5;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #212529;
  background-color: #E3E8F5;
  border-color: #E3E8F5;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(227, 232, 245, 0.5);
}

.btn-outline-warning {
  color: #EFAF00;
  background-color: transparent;
  background-image: none;
  border-color: #EFAF00;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #EFAF00;
  border-color: #EFAF00;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(239, 175, 0, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #EFAF00;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #EFAF00;
  border-color: #EFAF00;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(239, 175, 0, 0.5);
}

.btn-outline-danger {
  color: #FF4848;
  background-color: transparent;
  background-image: none;
  border-color: #FF4848;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #FF4848;
  border-color: #FF4848;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 72, 72, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #FF4848;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #FF4848;
  border-color: #FF4848;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 72, 72, 0.5);
}

.btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-pill {
  border-radius: 16px;
}

.btn-link {
  font-weight: 400;
  color: #0073AA;
  background-color: transparent;
}

.btn-link:hover {
  color: #00A0D2;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group > .btn {
  width: auto;
  position: relative;
  flex: 0 1 auto;
}

.btn-group > .btn:hover {
  z-index: 1;
}

.btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
  z-index: 1;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.btn-toolbar .input-group {
  width: auto;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
}

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle-split::before {
  margin-right: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
  margin-bottom: 0;
}

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 100%;
}

.input-group > .form-control,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file:focus {
  z-index: 3;
}

.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -1px;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group > .custom-file {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group > .custom-file:not(:first-child) .custom-file-label,
.input-group > .custom-file:not(:first-child) .custom-file-label::after {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group > .select2-container {
  z-index: 0;
}

.input-group > .select2-container .select2-selection--single {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group.invalid input[type=text], .input-group.invalid input[type=number], .input-group.invalid textarea, .input-group.invalid select, .input-group.invalid .select2-container {
  border-color: #FF4848;
  background-color: rgba(255, 72, 72, 0.15);
}

.input-group-prepend,
.input-group-append {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  border: 1px solid #DDD;
}

.input-group.invalid .input-group-prepend, .input-group.invalid
.input-group-append {
  border-color: #FF4848;
}

.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  border-right: none;
}

.input-group-append {
  border-left: none;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  color: #6c757d;
  text-align: center;
  white-space: nowrap;
  background-color: #dbf9ff;
  border-radius: 0;
}

.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"] {
  margin-top: 0;
}

.input-group.invalid .input-group-text {
  background-color: rgba(255, 72, 72, 0.65);
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.76562rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.product_data input[type=text].tips, .product_data input[type=number].tips, .product_data textarea.tips {
  cursor: text;
}

.product_data input[type=text]:disabled, .product_data input[type=text]:read-only, .product_data input[type=number]:disabled, .product_data input[type=number]:read-only, .product_data textarea:disabled, .product_data textarea:read-only {
  cursor: default;
}

.product_data_tabs .atum_tab a:before {
  content: '' !important;
  background-image: url("../images/atum-icon-mono.png");
  width: 13px;
  height: 13px;
  background-size: cover;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product_data_tabs .atum_tab a > span {
  padding-left: 13px;
}

.product_data .atum-field .input-group-text {
  padding: 2px 7px 3px;
}

.product_data .atum-field input[type=text], .product_data .atum-field input[type=number] {
  width: calc(80% - 31px) !important;
  padding-top: 4px;
  padding-bottom: 4px;
  max-height: 27px;
}

.product_data .atum-field input[type=text]:focus, .product_data .atum-field input[type=number]:focus {
  box-shadow: none;
  border-color: #5B9DD9;
}

.product_data .atum-field .select2-container:focus, .product_data .atum-field .select2-selection--single:focus, .product_data .atum-field .select2-selection__rendered:focus {
  box-shadow: none;
  outline: none;
}

.product_data .atum-field .select2-container {
  float: none;
  max-width: calc(80% - 31px) !important;
}

.product_data .atum-field .select2-container .select2-selection--single {
  height: auto;
  margin: 0;
  font-size: 0.875rem;
}

.product_data .atum-field .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 1.8;
}

.product_data .atum-field .select2-container .select2-selection--single .select2-selection__arrow {
  height: 25px;
}

.product_data .atum-field .select2-container .select2-selection--single:focus {
  border-color: #5B9DD9;
}

.product_data .atum-data-panel .atum-section-title {
  font-size: 1.15em;
  padding-left: 10px;
}

.product_data .woocommerce-help-tip ~ .switchery {
  margin-left: 10px;
}

.woocommerce_variations .form-row-first .atum-field, .woocommerce_variations .form-row-last .atum-field {
  position: relative;
  margin-top: 2px;
}

.woocommerce_variations .form-row-first .atum-field input[type=text], .woocommerce_variations .form-row-first .atum-field input[type=number], .woocommerce_variations .form-row-last .atum-field input[type=text], .woocommerce_variations .form-row-last .atum-field input[type=number] {
  margin-top: 0;
  width: calc(100% - 33px) !important;
}

.woocommerce_variations .form-row-first .atum-field .select2-container, .woocommerce_variations .form-row-last .atum-field .select2-container {
  max-width: calc(100% - 33px) !important;
}

.woocommerce_variations .form-row-first .atum-field .woocommerce-help-tip, .woocommerce_variations .form-row-last .atum-field .woocommerce-help-tip {
  position: absolute;
  top: -25px;
  right: 0;
}

.woocommerce_variations .atum-data-panel {
  border-top: 1px solid #DDD;
  padding-top: 15px;
}

.woocommerce_variations .atum-data-panel label:not(.btn) {
  float: left;
  margin-right: 10px;
  min-width: 130px;
}

.woocommerce_variations .atum-data-panel .form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.woocommerce_variations .atum-data-panel .form-field:first-of-type {
  margin: 25px 0;
}

.woocommerce_variations h2.atum-section-title {
  border: 1px solid #E3E8F5;
  background-color: #dbf9ff;
  color: #555;
  text-transform: uppercase;
  cursor: default !important;
  margin: 15px -30px !important;
  padding: 1.1em !important;
  text-align: center;
  font-weight: 600;
}

.woocommerce_variations h2.atum-section-title img {
  vertical-align: -4px;
  margin-right: 5px;
}

.woocommerce_variations h4.atum-section-title {
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 0 !important;
  border-bottom: 1px dashed #6c757d;
}

.woocommerce_variations .alert {
  margin: 10px auto;
  padding: 0.35rem 0.75rem;
}

#tiptip_holder ul {
  text-align: left;
  padding-left: 10px;
}

#tiptip_holder ul li {
  list-style: circle;
  line-height: 1.3;
}
/*# sourceMappingURL=atum-product-data.css.map */
