/** 
 * ATUM Stock Manager for WooCommerce CSS 
 * @version 1.3.2 
 * @authors Salva Machí and Jose Piera 
 *
 * Author URI: https://sispixels.com/ 
 * License : ©2017 Stock Management Labs 
 */ 

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  opacity: 0;
  font-size: 12px;
}

.tooltip.in {
  opacity: 0.9;
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999;
  display: none;
  max-width: 276px;
  padding: 1px;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  padding: 6px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.atum-list-table .popover-title {
  text-align: center;
}

.popover-content {
  padding: 9px 14px;
}

.popover > .popover-arrow, .popover > .popover-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover > .popover-arrow {
  border-width: 11px;
}

.popover > .popover-arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top > .popover-arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}

.popover.top > .popover-arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #f7f7f7;
}

.popover.right > .popover-arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.right > .popover-arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #f7f7f7;
}

.popover.bottom > .popover-arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}

.popover.bottom > .popover-arrow:after {
  content: " ";
  top: 2px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #f7f7f7;
}

.popover.left > .popover-arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left > .popover-arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #f7f7f7;
  bottom: -10px;
}

.atum-list-table .popover .popover-content {
  text-align: center;
}

.popover .popover-content > input[type=number], .popover .popover-content > input[type=text], .popover .popover-content > .button {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  font-size: 14px;
}

.popover .popover-content > input[type=number], .popover .popover-content > input[type=text] {
  width: 75%;
  text-align: center;
  border-radius: 3px;
}

.popover .popover-content > .button {
  margin-left: 3px;
}

.popover .popover-content > .button:disabled {
  color: #F9F9F9 !important;
  opacity: 0.6;
}

.popover.with-meta .popover-content input, .popover.with-meta .popover-content button {
  width: 100%;
  margin: 3px 0;
}

.popover.with-meta .popover-content hr {
  border-color: #E3E8F5;
}

.swal2-container {
  z-index: 100000000;
}

.swal2-container .swal2-content, .swal2-container .swal2-title {
  margin-bottom: 30px;
}

.swal2-container .swal2-title {
  line-height: 1.3;
  font-size: 23px;
}

.swal2-container p {
  font-size: 15px;
  text-align: center;
}

.swal2-container button, .swal2-container a {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.swal2-container button:focus, .swal2-container a:focus {
  outline: none;
  box-shadow: none;
}

.swal2-container a {
  text-decoration: none;
  color: #00B050;
}

.swal2-container a:hover {
  color: #00e367;
}

#atum-export-link-wrap {
  float: right;
  height: 28px;
  margin: 0 0 0 6px;
  border: 1px solid #ddd;
  border-top: none;
  background: #fff;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
}

#atum-export-wrap {
  margin: 0;
  padding: 8px 20px 12px;
  position: relative;
}

#atum-export-wrap legend, #atum-export-wrap h5 {
  margin: 0;
  padding: 8px 0;
  font-size: 13px;
  font-weight: 600;
}

#atum-export-wrap fieldset {
  margin-bottom: 10px;
  width: auto;
  float: left;
  margin-right: 30px;
}

#atum-export-wrap fieldset.title-length {
  clear: left;
}

#atum-export-wrap fieldset.title-length input[type=number] {
  display: inline-block;
  vertical-align: middle;
  max-width: 58px;
}

#atum-export-wrap fieldset.title-length label {
  margin-left: 5px;
}

.atum-report {
  padding-top: 15px;
}

.atum-report .report-header {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  vertical-align: top;
}

.atum-report .report-header .report-data, .atum-report .report-header .report-details {
  padding: 15px;
  border-top: 2px solid #C1C1C1;
  border-bottom: 2px solid #C1C1C1;
}

.atum-report .report-header .report-data {
  border-left: 2px solid #C1C1C1;
}

.atum-report .report-header .report-details {
  border-right: 2px solid #C1C1C1;
}

.atum-report .report-header .space {
  width: 20px;
}

.atum-report .report-header .inventory-resume {
  padding: 15px;
  border: 2px solid #FEC007;
}

.atum-report .report-header h5 {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
}

.atum-report .report-header p {
  color: #333333;
}

.atum-report .report-header .warning-color {
  color: #FEC007;
}

.atum-report .report-header .success-color {
  color: #00B050;
}

.atum-report .report-header .danger-color {
  color: #EF4D5A;
}

.atum-report .atum-list-table thead th {
  background-color: #FFF;
}

.atum-report .atum-list-table tbody td {
  vertical-align: middle;
}

.atum-report h1 {
  color: #0073AA;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: bold;
  margin-top: 10px;
}

.atum-report h3 {
  font-size: 24px;
  font-weight: normal;
  color: #C1C1C1;
  margin-top: 5px;
}

.overlay {
  position: relative;
}

.overlay:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.atum-loading {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(0, 115, 170, 0.25);
  border-top-color: #0073AA;
  border-radius: 50%;
  position: absolute;
  z-index: 50;
  -webkit-animation: loader-rotate 1s linear infinite;
  -moz-animation: loader-rotate 1s linear infinite;
  -o-animation: loader-rotate 1s linear infinite;
  animation: loader-rotate 1s linear infinite;
}

@-webkit-keyframes loader-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes loader-rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes loader-rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1.wp-heading-inline {
  line-height: 1.5;
  position: relative;
}

h1.wp-heading-inline #atum-update-list {
  margin-left: 5px;
  border-radius: 0;
  vertical-align: middle;
}

h1.wp-heading-inline #atum-update-list:active {
  color: #FFF;
  padding: 0 10px 1px;
  box-shadow: 0 1px 0 #006799;
}

h1.wp-heading-inline .atum-loading {
  display: inline-block;
  top: 1px;
  margin-left: 10px;
  position: relative;
}

.atum-list-wrapper {
  padding-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

.atum-list-wrapper .search-box input[type=search] {
  margin-right: 0;
  width: 187px;
}

.atum-list-wrapper .search-submit {
  margin-left: 4px;
}

.atum-list-wrapper .tablenav-pages, .atum-list-wrapper .search-box {
  position: relative;
}

.atum-list-wrapper .tablenav-pages .atum-loading, .atum-list-wrapper .search-box .atum-loading {
  left: -30px;
  top: 4px;
}

.atum-list-wrapper .subsubsub {
  position: relative;
  margin-left: 3px;
}

.atum-list-wrapper .subsubsub .atum-loading {
  right: -25px;
  top: 4px;
}

.atum-list-wrapper.loading-data .alignleft.actions {
  position: relative;
  overflow: visible;
}

.atum-list-wrapper.loading-data .alignleft.actions .atum-loading {
  right: -15px;
  top: 7px;
}

.atum-list-wrapper .actions-wrapper input, .atum-list-wrapper .actions-wrapper select, .atum-list-wrapper .actions-wrapper .select2-container {
  height: 32px;
  margin-bottom: 4px;
  float: left;
}

.atum-list-wrapper .actions-wrapper .select2-container {
  margin-top: 1px;
  margin-right: 5px;
  font-size: 14px;
}

.atum-list-wrapper .actions-wrapper .select2-container:focus, .atum-list-wrapper .actions-wrapper .select2-container *:focus {
  outline: none;
}

.atum-list-wrapper .actions-wrapper .select2-container:focus .select2-selection {
  box-shadow: 0 0 2px rgba(91, 157, 217, 0.8);
  border-color: #5b9dd9;
}

.atum-list-wrapper .actions-wrapper .select2-container .select2-selection__placeholder {
  color: #333333 !important;
}

.atum-list-wrapper .actions-wrapper .select2-container .select2-selection__arrow b {
  border-top-color: #333333;
}

.atum-list-wrapper .actions-wrapper .filter-text {
  display: inline;
  float: left;
  line-height: 28px;
  padding-right: 10px;
}

.select2-dropdown .select2-results__option:focus {
  outline: none;
}

.atum-table-wrapper {
  clear: both;
}

.atum-table-wrapper .jspContainer {
  overflow: hidden;
  position: relative;
}

.atum-table-wrapper .jspPane {
  position: absolute;
}

.atum-table-wrapper .jspVerticalBar, .atum-table-wrapper .jspCap, .atum-table-wrapper .jspArrow {
  display: none;
}

.atum-table-wrapper .jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
}

.atum-table-wrapper .jspHorizontalBar .jspCap {
  float: left;
}

.atum-table-wrapper .jspHorizontalBar .jspTrack, .atum-table-wrapper .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.atum-table-wrapper .jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.atum-table-wrapper .jspTrack {
  background: rgba(193, 193, 193, 0.2);
  position: relative;
}

.atum-table-wrapper .jspDrag {
  background: #C1C1C1;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.atum-table-wrapper .jspCorner {
  background: #F9F9F9;
  float: left;
  height: 100%;
}

.atum-list-table {
  margin-bottom: 15px;
}

.atum-list-table thead .item-heads th, .atum-list-table tfoot th {
  padding: 3px 5px;
  line-height: 1.1;
  font-size: 13px;
  min-width: 50px;
  height: 42px;
}

.atum-list-table thead .item-heads th .dashicons, .atum-list-table tfoot th .dashicons {
  font-size: 15px;
  width: 1em;
  height: 1em;
}

.atum-list-table .group th {
  font-weight: bold;
}

.atum-list-table .group th:nth-child(even) {
  background-color: #F9F9F9;
}

.atum-list-table thead .group th .atum-loading {
  position: relative;
  display: inline-block;
  left: 15px;
  top: 2px;
  width: 10px;
  height: 10px;
}

.atum-list-table th.sortable a, .atum-list-table th.sorted a {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.atum-list-table th.sortable[class*="column-calc_"] a, .atum-list-table th.sortable.column-_stock a, .atum-list-table th.sortable.column-_regular_price a, .atum-list-table th.sortable.column-_sale_price a, .atum-list-table th.sortable.column-_purchase_price a, .atum-list-table th.sortable.column-ID a, .atum-list-table th.sortable.column-_supplier_sku a, .atum-list-table th.sorted[class*="column-calc_"] a, .atum-list-table th.sorted.column-_stock a, .atum-list-table th.sorted.column-_regular_price a, .atum-list-table th.sorted.column-_sale_price a, .atum-list-table th.sorted.column-_purchase_price a, .atum-list-table th.sorted.column-ID a, .atum-list-table th.sorted.column-_supplier_sku a {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.atum-list-table th.sortable[class*="column-calc_"] a > span, .atum-list-table th.sortable.column-_stock a > span, .atum-list-table th.sortable.column-_regular_price a > span, .atum-list-table th.sortable.column-_sale_price a > span, .atum-list-table th.sortable.column-_purchase_price a > span, .atum-list-table th.sortable.column-ID a > span, .atum-list-table th.sortable.column-_supplier_sku a > span, .atum-list-table th.sorted[class*="column-calc_"] a > span, .atum-list-table th.sorted.column-_stock a > span, .atum-list-table th.sorted.column-_regular_price a > span, .atum-list-table th.sorted.column-_sale_price a > span, .atum-list-table th.sorted.column-_purchase_price a > span, .atum-list-table th.sorted.column-ID a > span, .atum-list-table th.sorted.column-_supplier_sku a > span {
  float: none;
}

.atum-list-table th.sortable[class*="column-calc_"] a > span:first-child, .atum-list-table th.sortable.column-_stock a > span:first-child, .atum-list-table th.sortable.column-_regular_price a > span:first-child, .atum-list-table th.sortable.column-_sale_price a > span:first-child, .atum-list-table th.sortable.column-_purchase_price a > span:first-child, .atum-list-table th.sortable.column-ID a > span:first-child, .atum-list-table th.sortable.column-_supplier_sku a > span:first-child, .atum-list-table th.sorted[class*="column-calc_"] a > span:first-child, .atum-list-table th.sorted.column-_stock a > span:first-child, .atum-list-table th.sorted.column-_regular_price a > span:first-child, .atum-list-table th.sorted.column-_sale_price a > span:first-child, .atum-list-table th.sorted.column-_purchase_price a > span:first-child, .atum-list-table th.sorted.column-ID a > span:first-child, .atum-list-table th.sorted.column-_supplier_sku a > span:first-child {
  padding-left: 10px;
}

.atum-list-table tr.expanded {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.atum-list-table tr.expanded.variable, .atum-list-table tr.expanded.variable-subscription {
  background-color: #0073AA;
}

.atum-list-table tr.expanded.group {
  background-color: #FEC007;
}

.atum-list-table tr.expanded td, .atum-list-table tr.expanded a {
  color: #FFF;
}

.atum-list-table tr.expanded .column-calc_type .has-child:before {
  content: "\e004";
  color: #FFF;
}

.atum-list-table tr.variation {
  background-color: #aae4ff;
}

.atum-list-table tr.variation:nth-child(even) {
  background-color: #d3f1ff;
}

.atum-list-table tr.grouped {
  background-color: #ffe9aa;
}

.atum-list-table tr.grouped:nth-child(even) {
  background-color: #fff4d2;
}

.atum-list-table tr.no-items td {
  padding: 10px 24px;
}

.atum-list-table .cell-green {
  color: #00B050;
}

.atum-list-table .cell-yellow {
  color: #FEC007;
}

.atum-list-table .cell-red {
  color: #EF4D5A;
}

.atum-list-table td, .atum-list-table th {
  vertical-align: middle;
  padding: 6px 5px;
}

.atum-list-table td.pro-version, .atum-list-table th.pro-version {
  background-color: #C1C1C1;
}

.atum-list-table td.column-title, .atum-list-table th.column-title {
  min-width: 150px;
}

.atum-list-table td.column-title > span, .atum-list-table th.column-title > span {
  white-space: nowrap;
}

.atum-list-table td.column-sku, .atum-list-table th.column-sku {
  min-width: 70px;
}

.atum-list-table td[class*="column-calc_"], .atum-list-table td.column-_stock, .atum-list-table td.column-_regular_price, .atum-list-table td.column-_sale_price, .atum-list-table td.column-_purchase_price, .atum-list-table td.column-ID, .atum-list-table td.column-_supplier_sku, .atum-list-table th[class*="column-calc_"], .atum-list-table th.column-_stock, .atum-list-table th.column-_regular_price, .atum-list-table th.column-_sale_price, .atum-list-table th.column-_purchase_price, .atum-list-table th.column-ID, .atum-list-table th.column-_supplier_sku {
  text-align: center;
}

.atum-list-table td a, .atum-list-table th a {
  cursor: pointer;
}

.atum-list-table .column-calc_type {
  max-width: 50px;
  text-align: center;
}

.atum-list-table .column-calc_type .has-child {
  cursor: pointer;
}

.atum-list-table .column-calc_type .has-child.variable, .atum-list-table .column-calc_type .has-child.variable-subscription {
  color: #0073AA;
}

.atum-list-table .column-calc_type .has-child.variable-subscription:before {
  content: "\e003";
}

.atum-list-table .column-calc_type .has-child.grouped {
  color: #FEC007;
}

.atum-list-table .column-calc_type .has-child:hover:before {
  content: "\e005";
}

.atum-list-table .column-calc_type .variation:before, .atum-list-table .column-calc_type .grouped-item:before {
  content: "\e039";
}

.atum-list-table .column-calc_type .product-part, .atum-list-table .column-calc_type .raw-material {
  display: block;
  padding-top: 6px;
}

.atum-list-table .set-meta {
  cursor: pointer;
  color: #0073AA;
}

.atum-list-table .set-meta.unsaved {
  color: #EF4D5A;
}

.atum-list-table .highlight-danger {
  background-color: #EF4D5A;
  color: #FFF;
  padding: 2px 3px;
  border-radius: 2px;
}

.atum-list-table #calc_stock_out_days {
  min-width: 56px;
}

.atum-list-table .column-calc_stock_indicator .dashicons {
  font-size: 1.5em;
}

.atum-list-table .atum-title-small {
  display: none;
}

@media screen and (max-width: 782px) {
  .atum-list-table .group {
    display: none;
  }
  .atum-list-table .column-thumb {
    display: none;
  }
  .atum-list-table .column-thumb:before {
    content: none;
  }
  .atum-list-table tr:not(.inline-edit-row):not(.no-items) td.column-thumb:not(.column-primary)::before {
    content: none;
  }
  .atum-list-table .tips {
    display: none;
  }
  .atum-list-table .atum-title-small {
    display: block;
  }
  .atum-list-table td.thumb.column-thumb {
    text-align: left;
  }
}

.atum-notice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.atum-notice .manage-message {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.atum-notice .notice-dismiss {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.atum-notice .atum-loading {
  margin-left: 5px;
  margin-top: 5px;
}

.atum-notice .add-manage-option {
  margin-top: 3px;
}

.contextual-help-tabs-wrap {
  padding: 20px;
}

.contextual-help-tabs-wrap table tr td:first-child {
  width: 20%;
}

.contextual-help-tabs-wrap .dashicons-format-image {
  font-size: 18px;
}

.contextual-help-tabs-wrap .wc-type:before {
  font-family: WooCommerce;
  content: "\e006";
  font-size: 18px;
  top: 0;
  speak: none;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  left: 0;
}

/*# sourceMappingURL=atum-list.css.map */
