/** 
 * ATUM Stock Manager for WooCommerce CSS 
 * @version 1.0.0 
 * @author Salva Machí and Jose Piera 
 *
 * Author URI: https://sispixels.com/ 
 * License : (c)2017 Stock Management Labs 
 */ 

.pricing-atum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}

.pricing-atum .pricing-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-basis: 30%;
  -moz-flex-basis: 30%;
  flex-basis: 30%;
  text-align: center;
  margin: 1em;
  cursor: default;
  color: #FFF;
  border-radius: 8px;
}

@media screen and (max-width: 996px) {
  .pricing-atum .pricing-item {
    -webkit-flex-basis: 46%;
    -moz-flex-basis: 46%;
    flex-basis: 46%;
  }
  .pricing-atum .pricing-item.free .pricing-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

@media screen and (max-width: 674px) {
  .pricing-atum .pricing-item {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
  }
}

.pricing-atum .pricing-header {
  padding: 2em 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.pricing-atum .pricing-header:after {
  top: 100%;
  left: 50%;
  border: 10px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-left: -10px;
}

.pricing-atum .pricing-header .plan {
  font-weight: 100;
  margin-top: -10px;
}

.pricing-atum .pricing-body {
  padding: 2em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
}

.pricing-atum .pricing-title {
  font-size: 2em;
  margin: 0.5em 0;
  color: #FFF;
  font-weight: 100;
  letter-spacing: 2px;
}

.pricing-atum .pricing-subtitle {
  margin: 0.5em 0 0;
  font-size: 2.2em;
  line-height: 1.1;
}

.pricing-atum .pricing-sentence {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
}

.pricing-atum .pricing-sentence i {
  font-size: 1.6em;
}

.pricing-atum .pricing-features {
  margin: -0.85em 0 0;
  padding: 0 1.25em 1.3em;
  border-bottom: 1px solid;
  font-size: 1.1em;
  line-height: 1.2;
}

.pricing-atum .pricing-features:last-of-type {
  border: none;
}

.pricing-atum .pricing-action {
  color: inherit;
  border: none;
  font-weight: bold;
  margin-top: 2em;
  display: inline-block;
  padding: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  background: #000;
  text-decoration: none;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.pricing-atum .pricing-action:hover, .pricing-atum .pricing-action:focus {
  background: #BD3C3C;
  outline: none;
}

.pricing-atum .free .pricing-header, .pricing-atum .free .pricing-body {
  background-image: -webkit-linear-gradient(top, #00bef2 0%, #2d8aef 100%);
  background-image: -o-linear-gradient(top, #00bef2 0%, #2d8aef 100%);
  background-image: linear-gradient(to bottom, #00bef2 0%, #2d8aef 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00BEF2', endColorstr='#FF2D8AEF', GradientType=0);
}

.pricing-atum .free .pricing-header:after {
  border-top-color: #2d8aef;
}

.pricing-atum .free .pricing-features {
  color: #bbd9fa;
  border-bottom-color: #82baf5;
}

.pricing-atum .premium .pricing-header, .pricing-atum .premium .pricing-body {
  background-image: -webkit-linear-gradient(top, #9926af 0%, #6739b6 100%);
  background-image: -o-linear-gradient(top, #9926af 0%, #6739b6 100%);
  background-image: linear-gradient(to bottom, #9926af 0%, #6739b6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9926AF', endColorstr='#FF6739B6', GradientType=0);
}

.pricing-atum .premium .pricing-header:after {
  border-top-color: #6739b6;
}

.pricing-atum .premium .pricing-header .plan {
  color: #9f7ed7;
}

.pricing-atum .premium .pricing-features {
  color: #bca5e3;
  border-bottom-color: #885fcd;
}

.pricing-atum .pro .pricing-header, .pricing-atum .pro .pricing-body {
  background-image: -webkit-linear-gradient(top, #f26621 0%, #ea4335 100%);
  background-image: -o-linear-gradient(top, #f26621 0%, #ea4335 100%);
  background-image: linear-gradient(to bottom, #f26621 0%, #ea4335 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF26621', endColorstr='#FFEA4335', GradientType=0);
}

.pricing-atum .pro .pricing-header:after {
  border-top-color: #ea4335;
}

.pricing-atum .pro .pricing-header .plan {
  color: #f49991;
}

.pricing-atum .pro .pricing-features {
  color: #f8c4c0;
  border-bottom-color: #f1837a;
}

/*# sourceMappingURL=go-premium.css.map */
