//
// Atum add-ons
//---------------

.atum-addons {
	
	h1 {
		margin-bottom: $grid-gutter-width/2;
	}
	
	a {
		text-decoration: none;
	}
	
	@media all and (min-width: 481px) {
		.themes {
			@include flexbox;
			@include flex-wrap(wrap);
			@include flex-align-items(flex-start);
		}
	}
	
	.theme {
		
		.theme-screenshot {
			position: relative;
			cursor: default;
			background-size: cover !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			
			.label {
				background-color: $secondary;
				float: right;
				margin: $grid-gutter-width/3;
				border-radius: 15px;
				padding: 2px 9px;
				color: $white;
				font-size: 11px;
				text-align: center;
				text-transform: uppercase;
				
				&.label-warning {
					background-color: $warning;
				}
			}
		}
		
		.theme-name {
			position: relative;
			cursor: default;
		}
		
		.theme-actions {
			height: 39px;
			right: 27px;
			@include transform(translate3d(0, -50%, 0));
			@include transition(0.2s ease-in-out);
			
			&.valid, &.invalid, &.inactive, &.coming-soon {
				opacity: 1;
				
				span {
					display: inline-block;
					margin-top: 11px;
					font-size: 12px;
					color: $white;
					font-weight: normal;
				}
			}
			
			&.valid {
				background-color: $success;
				
				+ .show-key {
					opacity: 0;
				}
				
				&.not-installed {
					
					background-color: $success;
					right: 0;
					width: 105px;
					height: 50px;
					padding: 0;
					border: none;
				}
				
				&:not(.not-installed) {
					+ .show-key {
						i {
							color: $success;
						}
					}
				}
			}
			
			&.invalid {
				span {
					color: $danger;
				}
			}
			
			&.inactive {
				background-color: $warning;
			}
			
			&.not-installed {
				background-color: transparent;
			}
			
			&.coming-soon {
				background-color: lighten($primary, 10%);
				right: 0;
			}
			
		}
		
		.show-key {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 49px;
			padding: 0 3px;
			border-left: 1px solid rgba($black, 0.05);
			cursor: pointer;
			@include transform(translateX(100%));
			
			&, i {
				@include transition(all 0.2s ease-in-out);
			}
			
			i {
				font-size: 15px;
				padding-top: 17px;
				color: $primary;
			}
			
		}
		
		&:hover, &.inactive, &.invalid {
			
			.theme-actions {
				&:not(.coming-soon):not(.inactive):not(.not-installed) {
					opacity: 0;
					@include transform(translate3d(100%, -50%, 0));
				}
			}
			
			.more-details {
				opacity: 0 !important;
			}
			
			.theme-screenshot {
				&:hover {
					.addon-details {
						@include transform(translateY(0));
					}
					
					.more-details {
						opacity: 1 !important;
					}
				}
			}
			
			.show-key {
				opacity: 1 !important;
				background-color: lighten($primary, 10%);
				@include transform(translateX(0));
				
				i {
					color: $white !important;
				}
			}
			
		}
		
		.more-details {
			border-radius: 0;
			top: 50%;
			@include transform(translateY(-50%));
			@include transition(opacity 0.3s ease-in-out);
		}
		
		.addon-details {
			top: 0;
			bottom: 0;
			background-color: rgba($black, 0.7);
			position: absolute;
			color: $white;
			padding: 10px;
			@include flexbox;
			@include flex-wrap(wrap);
			@include flex-justify-content(center);
			@include flex-align-items(center);
			@include transform(translateY(-101%));
			@include transition(transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955));
			
			> p {
				height: 65%;
				overflow: hidden;
			}
			
			.more-details {
				position: static;
				@include transform(none);
				@include transition-delay(0.2s);
				display: block;
				font-size: 12px;
				padding: 10px 14px;
			}
		}
		
		.addon-key {
			display: none;
			
			.wrapper {
				@include flexbox;
				@include flex-wrap(nowrap);
				@include flex-align-items(center);
				padding: 5px;
				border-top: 1px solid $wp-gray-4;
				position: relative;
			}
			
			input[type=text] {
				width: 80%;
				margin-right: 4px;
				height: 28px;
				border-radius: 3px;
				font-size: 12px;
				border-radius: 0;
				
				&:focus {
					box-shadow: none;
				}
				
				&.valid {
					border-color: $success;
				}
				
				&.inactive {
					border-color: $warning;
				}
				
				&.invalid {
					border-color: $danger;
				}
			}
			
		}
		
		.button {
			
			border: none;
			box-shadow: none;
			text-shadow: none;
			font-weight: normal;
			background-color: $primary;
			color: $white;
			border-radius: 0;
			@include transition(all 0.2s ease-in-out);
			
			&.install-addon {
				background-color: $success;
				height: 100%;
				width: 100%;
				margin-left: 0;
				&:hover {
					background-color: lighten($success, 10%);
				}
			}
			
			&:disabled {
				background-color: $primary !important;
				text-shadow: none !important;
				color: $white !important;
				opacity: 0.6;
			}
			
			&:hover {
				background-color: lighten($primary, 10%);
			}
		}
		
		&.active {
			.addon-key {
				background-color: $blue-dark;
				border-top-color: lighten($blue-dark, 25%);
			}
		}
		
		.atum-loading {
			right: 28px;
			top: 11px;
			@include loader(18px, $primary, 3px, 1s);
		}
		
		@media only screen and (max-width: 780px) {
			
			.button {
				margin-bottom: 0;
			}
			
			input[type=text] {
				height: 29px;
			}
			
			.theme-actions {
				display: block;
				
				&.valid, &.invalid, &.inactive {
					span {
						margin-top: 10px;
					}
				}
				
				.button {
					margin: 5px 0 0;
				}
			}
			
		}
		
	}
	
}

