//
// Atum List Tables RTL
//------------------
@import "../common/functions";
@import "../common/variables";

@import "atoms/select2-rtl";
@import "atoms/page-title-rtl";

@import "molecules/list-table-rtl";
@import "molecules/post-type-list-table-rtl";

