//
// ATUM Post Type List RTL
//-------------------------

@import "../common/functions";
@import "../common/variables";
@import "../common/mixins";

@import "atoms/page-title-rtl";

@import "molecules/list-table-rtl";
@import "molecules/post-type-list-table-rtl";