//
// Atum add-ons
//---------------

@use "sass:math";

html {
	scroll-behavior: smooth;
}

#wpbody-content {
	padding-bottom: 0;
	
	> .notice {
		margin-left: 0;
		
		~ .atum-addons {
			margin-top: 10px;
		}
	}
}

.atum-addons {
	margin-bottom: 60px;
	
	&-wrap {
		padding-right: 20px;
	}
	
	a {
		text-decoration: none;
	}
	
	// Dashboard Header
	&__header {
		position: relative;
		height: 300px;
		background: $blue-light url('#{$atum-img-path}dashboard/header-bg.png') center bottom;
		background-size: cover;
		@include vertical-align-flex();
		flex-wrap: wrap;
		text-align: center;
		margin-bottom: math.div($grid-gutter-width, 2);
		margin-left: -20px;
		
		&-logo {
			flex-grow: 1;
			width: 100%;
		}
		
		h3 {
			color: $blue-dark;
			width: 734px;
			max-width: 90%;
			margin: auto;
			line-height: 1.2;
			font-weight: 200;
		}
		
		&-buttons {
			padding: math.div($grid-gutter-width, 2);
			text-align: center;
			
			.btn {
				text-transform: uppercase;
				font-size: 12px;
			}
			
			.btn-outline-primary {
				background-color: $white;
				
				&:hover {
					color: $primary;
					background-color: rgba($white, .3);
				}
			}
			
			@include tablet-max {
				right: 0;
			}
		}
		
		img {
			max-width: 320px;
			margin-bottom: 5px;
			
			@include mobile-max {
				max-width: 220px;
			}
		}
		
		&-notice {
			position: absolute;
			bottom: 0;
			left: 0;
			padding-left: math.div($grid-gutter-width, 2);
			padding-bottom: 5px;
			font-size: 11px;
			color: $blue-dark;
			font-weight: 300;
			
			span {
				color: $primary;
				margin-right: 5px;
			}
			
			.wc-rating-link {
				color: $primary;
			}
			
			@include tablet-max {
				right: 0;
			}
			
			@include mobile-max {
				font-size: 10px;
				line-height: 1.3;
			}
			
		}
		
	}
	
	.atum-addon {
		margin-top: math.div($grid-gutter-width, 3) * 2;
		background-color: $white;
		display: flex;
		align-items: stretch;
		min-height: 222px;
		border-radius: 8px;
		box-shadow: 0 4px 0 0 $gray-200;
		
		> .more-details {
			position: relative;
			width: 300px;
			min-width: 300px;
			display: flex;
			overflow: hidden;
			
			&:hover .addon-thumb {
				transform: scale(1.1);
			}
			
			&:focus {
				outline: none;
				box-shadow: none;
			}
			
			.label {
				position: absolute;
				top: 10px;
				left: 10px;
				padding: 3px 9px;
				color: $white;
				border-radius: 4px;
				z-index: 1;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 300;
				
				&.coming-soon {
					background: $secondary;
				}
				
				&.not-installed {
					background: $primary;
				}
				
				&.valid {
					background: $success;
				}
				
				&.inactive, &.invalid, &.disabled, &.expired, &.no-key {
					background: $danger;
				}
				
				&.trial {
					background: $purple;
				}
				
			}
		}
		
		.atum-loading {
			right: 152px;
			bottom: 3px;
			@include loader(18px, $primary, 3px, 1s);
		}
		
	}
	
	.addon-thumb {
		width: 100%;
		background-size: cover;
		background-position: top center;
		border-bottom-left-radius: 8px;
		border-top-left-radius: 8px;
		transition: .2s ease-in-out;
	}
	
	.addon-details {
		padding: 15px 20px;
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
	}
	
	.addon-header {
		display: flex;
		align-items: center;
		gap: 10px;
		margin: 10px 0;
		
		h2 {
			font-size: 18px;
			color: $gray-700;
			margin: 0;
		}
		
		.label {
			background-color: $secondary;
			border-radius: 15px;
			padding: 2px 9px;
			color: $white;
			font-size: 11px;
			line-height: 24px;
			text-align: center;
			
			&.label-warning {
				background-color: $warning;
			}
		}
	}
	
	.addon-description {
		margin-bottom: math.div($grid-gutter-width, 2);
		flex-grow: 1;
		
		p {
			margin: 0;
			flex-grow: 1;
			font-size: 15px;
			color: $gray-600;
		}
	}
	
	.alert {
		font-size: 12px;
		padding: 0.3rem calc( 0.75rem + 8px );
		margin-bottom: .3rem;
	}
	
	.addon-footer {
		.actions {
			
			.btn {
				font-size: .75rem;
				padding: 0.313rem 0;
				width: 144px;
				margin-right: 10px;
				text-transform: uppercase;
				
				&.install-addon {
					padding-left: .7rem;
					padding-right: .7rem;
					width: auto;
					background-color: $success;
					border-color: $success;
				}
			}
			
			input {
				font-size: .75rem;
			}
			
			.cancel-action {
				background-color: transparent;
				width: 80px;
				
				&:hover {
					background-color: buttonface;
				}
			}
			
		}
		
		.addon-key{
			
			display: none;
			> .wrapper {
				display: flex;
				align-items: flex-end;
				position: relative;
			}
		}
		
		.license-key {
			flex-grow: 1;
			margin-right: 10px;
		}
		
		.license-info {
			margin-right: 10px;
			
			&:first-child {
				flex-grow: 1;
			}
			
			.license-label {
				font-size: .75rem;
				font-weight: 600;
			}
			
			.license-key, .expires {
				background-color: $gray-200;
				font-size: 13px;
				font-weight: 400;
				line-height: 1.47;
				padding: 4px 13px;
				border-radius: 5px;
			}
			
			.expires.expired {
				color: $danger;
			}
		}
		
		.alert {
			margin-bottom: 10px;
			
			a {
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}
		
		.alert-warning {
			border-color: $gray-200;
			background-color: $gray-200;
			color: $blue-dark;
			
			a {
				color: $primary;
			}
		}
		
	}
	
	.no-results {
		margin-top: math.div($grid-gutter-width, 2);
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 1.2em;
		
		i {
			font-size: 1.3em;
		}
	}
	
	@include tablet-max-wp {
		
		.atum-addon {
			height: 300px;
		}
		
		.alert {
			display: block;
		}
		
		.addon-footer .actions {
			display: flex;
			flex-direction: column;
			
			.btn {
				width: 100%;
				margin-bottom: .3rem;
			}
			
			.addon-key > .wrapper {
				flex-direction: column;
				
				.license-info {
					width: 100%;
					> div {
						display: inline-block;
					}
					
				}
				
				input.license-key {
					width: 100%;
					margin-bottom: 0.3rem;
				}
			}
		}
	}
	
}

.list-table-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	background-color: $white;
	box-shadow: 0 4px 0 0 $gray-200;
	border-radius: 8px;
	padding: 0 10px;
	
	
	@include tablet-max-wp {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 15px;
		border-bottom: none;
	}
	
	@include mobile-max {
		margin: 0 11px 15px;
		
		&.no-margin {
			margin: 0 11px 15px;
		}
	}
	
	.nav-container-box {
		flex-grow: 1;
		position: relative;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.addons-search-wrapper {
		&:not(.is-searching) {
			&:after {
				content: $atmi-magnifier;
				font-family: $atum-icon-font;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				color: $gray-600;
			}
		}
	}
	
	#addons-search {
		border: 1px solid $gray-300;
		border-radius: 5px;
		color: $gray-600;
		font-size: 12px;
	}
	
}

.nav-with-scroll-effect {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	cursor: grab;
	overflow-x: hidden;
	overflow-y: visible;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	width: 100%;
	float: left;
	margin: 0 11px 0 0;
	
	&::-webkit-scrollbar {
		display: none;
	}
	
	.subsubsub {
		margin: 0;
	}
	
	&.dragging {
		a {
			pointer-events: none;
		}
	}
	
	.input-group {
		position: static;
	}
	
}

.overflow-opacity-effect-right, .overflow-opacity-effect-left {
	width: 100px;
	position: absolute;
	z-index: 998;
	height: 49px;
	pointer-events: none;
	background-repeat: no-repeat;
}

.overflow-opacity-effect-right {
	right: 0;
	background-image: var(--overflow-opacity-rigth);
}

.overflow-opacity-effect-left {
	display: none;
	left: 0;
	background-image: var(--overflow-opacity-left);
}


.subsubsub {
	width: 100%;
	position: relative;
	font-size: 16px;
	letter-spacing: 0.4px;
	font-weight: bold;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	margin: 0;
	
	&.extend-list-table {
		width: inherit;
		margin: 10px 0 !important;
		flex-wrap: nowrap;
		justify-content: flex-start;
		border-radius: 0;
		border-bottom: 0;
		
		li {
			margin-right: 15px;
			color: $gray-600;
			text-transform: uppercase;
			padding: 0;
			
			span {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 3px;
				border-radius: 5px;
				line-height: 32px;
				cursor: pointer;
				transition: .2s ease-in-out;
				
				&.active {
					border-radius: 5px;
					background-color: $primary;
					font-size: 16px;
					padding: 0 10px;
					font-weight: bold;
					letter-spacing: 0.4px;
					color: $white;
					cursor: default;
					
					&:hover {
						color: $white;
					}
					
				}
				
				&:hover {
					color: $primary;
				}
				
			}
			
		}
		
		@include mobile-max {
			
			&:first-child {
				
				li {
					
					span, span:active {
						margin-left: 0;
					}
				}
			}
		}
	}
	
	@include tablet-max-wp{
		margin: 10px 10px;
		flex-wrap: wrap;
		justify-content: center;
		border-bottom: none;
	}
	
	@include mobile-max{
		justify-content: flex-start;
	}
	
	
}

