:root {
	// Custom variable values only support SassScript inside `#{}`.
	@each $color, $value in $grays {
		--gray-#{$color}: #{$value};
	}
	
	@each $color, $value in $colors {
		--#{$color}: #{$value};
	}
	
	@each $color, $value in $theme-colors {
		--#{$color}: #{$value};
	}
	
	@each $color, $value in $wp-colors {
		--#{$color}: #{$value};
	}
	
	@each $color, $value in $wc-colors {
		--#{$color}: #{$value};
	}
	
	--wp-yiq-text-dark: #{$yiq-text-dark};
	--wp-yiq-text-light: #{$yiq-text-light};
	--wp-pink-darken-expanded: #{$wp-pink-darken};
	--wc-purple-expanded: #{$wc-purple};
	--blue-light-expanded: #{$blue-light};
	--green-light-expanded: #{$green-light};
	--atum-border: #{$gray-200};
	--atum-table-item-heads: #{$gray-500};
	--atum-table-views-tabs: #{$gray-500};
	--atum-select2-border: #{$gray-200};
	--atum-input-placeholder: #{$gray-500};
	--atum-pagination-bg: #{$gray-200};
	--atum-pagination-border: transparent;
	--atum-pagination-border-disabled: transparent;
	--order-green-light: #{$green-light};
}
