:root {
	// Custom variable values only support SassScript inside `#{}`.
	@each $color, $value in $grays {
		--gray-#{$color}: #{$value};
		--gray-#{$color}-hover: #{rgba($value,0.6)};
		--gray-#{$color}-shadow: #{rgba($value, 0.2)};
	}
	
	@each $color, $value in $colors {
		--#{$color}: #{$value};
		--#{$color}-hover: #{rgba($value,0.6)};
		--#{$color}-shadow: #{rgba($value, 0.2)};
	}
	
	@each $color, $value in $theme-colors {
		--#{$color}: #{$value};
		--#{$color}-hover: #{rgba($value,0.6)};
		--#{$color}-shadow: #{rgba($value, 0.2)};
	}
	
	@each $color, $value in $wp-colors {
		--#{$color}: #{$value};
		--#{$color}-hover: #{rgba($value,0.6)};
		--#{$color}-shadow: #{rgba($value, 0.2)};
	}
	
	@each $color, $value in $wc-colors {
		--#{$color}: #{$value};
		--#{$color}-hover: #{rgba($value,0.6)};
		--#{$color}-shadow: #{rgba($value, 0.2)};
	}
	
	
	--black-shadow-light: #{rgba($black, 0.04)};
	--atum-table-row-even: #{$light};
	--atum-table-row-odd: transparent;
	--atum-bg-white: #{$white};
	--atum-text-white: #{$white};
	--wp-yiq-text-dark: #{$yiq-text-dark};
	--wp-yiq-text-light: #{$yiq-text-light};
	--wp-pink-darken-expanded: #{$wp-pink-darken};
	--wc-purple-expanded: #{$wc-purple};
	--blue-light-expanded: #{$blue-light};
	--green-light-expanded: #{$green-light};
	--atum-page-title-action: #{$success};
	--atum-border: #{$gray-200};
	--atum-table-item-heads: #{$gray-500};
	--atum-table-views-tabs: #{$gray-500};
	--atum-table-views-tabs-active: #{$blue};
	--atum-table-views-tabs-active-text: #{$white};
	--atum-table-link-child: #{$blue};
	--atum-table-link-text: #{$gray-600};
	--atum-dropdown-toggle-bg: #{$gray-100};
	--atum-select2-border: #{$gray-200};
	--atum-input-placeholder: #{$gray-500};
	--atum-pagination-bg: #{$gray-200};
	--atum-pagination-border: transparent;
	--atum-pagination-border-disabled: transparent;
	--order-green-light: #{$green-light};
	--atum-row-shadow: #{rgba($black, 0.04)};
	--atum-footer-totals: #{$gray-200};
	--atum-table-bg: #{$white};
	--overflow-opacity-rigth: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.9));
	--overflow-opacity-left: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.9));
	--atum-select2-selected-bg: #{$blue-light};
	--atum-select2-selected-text: #{$blue};
	--atum-column-groups-bg: #{$gray-200};
	--atum-row-active: #{$blue-light};
	--atum-table-row-variation-text: #{$white};
	--atum-table-row-child-variation-even: #{$blue-light-2};
	--atum-table-row-child-variation: #{$blue-light};
	--atum-table-link-active: #{$blue};
	--atum-table-check: #{$blue};
	--atum-table-icon: #{$gray-500};
	--atum-table-icon-active: #{$gray-500};
	--atum-table-text-active: #{$gray-500};
	--atum-dark-bg: #{$blue-dark-lighten};
	--atum-settings-nav-bg: #{$white};
	--atum-settings-heads-bg: #{$blue};
	--atum-settings-section-general-bg: #{$blue-dark-lighten};
	--atum-settings-section-bg: #{$white};
	--atum-settings-nav-link: #{$blue};
	--atum-settings-nav-link-selected: #{$blue};
	--atum-settings-nav-link-selected-bg: #{$blue-light};
	--atum-settings-section-title: #{$blue-dark};
	--atum-settings-section-text: #{$gray-600};
	--atum-settings-section-description: #{$gray-500};
	--atum-settings-text-logo: #{$blue-dark};
	--atum-settings-input-border: #{$gray-200};
	--atum-settings-input-text: #{$gray-600};
	--atum-settings-btn-save: #{$white};
	--atum-settings-btn-save-text: #{$blue};
	--atum-settings-btn-save-hover: #{$blue-light};
	--atum-settings-wp-color-bg: transparent;
	--atum-settings-wp-color-text: #{$gray-600};
	--wp-nth-child: #{$gray-100};
	--dash-card-text: #{$gray-500};
	--dash-widget-text: #{$widget-text};
	--dash-atum-version: transparentize(#{$black}, 0.9);
	--dash-widget-primary: #{$widget-primary};
	--dash-widget-success: #{$widget-success};
	--dash-widget-warning: #{$widget-warning};
	--dash-widget-danger: #{$widget-danger};
	--dash-nice-select-bg: #{$white};
	--dash-nice-select-list-bg: #{$white};
	--dash-nice-select-text: #{$gray-500};
	--dash-nice-select-border: #{$gray-200};
	--dash-nice-select-hover: darken(#{$gray-200}, 10%);
	--dash-nice-select-disabled: lighten(#{$gray-200}, 2%);
	--dash-nice-select-disabled-after: lighten(#{$gray-500}, 20%);
	--dash-nice-select-arrow-color: #{$gray-500};
	--dash-nice-select-option-hover-bg: #{$gray-100};
	--dash-nice-select-option-selected-bg: #{$blue-light};
	--dash-nice-select-text-highlighted: #{$blue};
	--dash-widget-list-border: transparentize(#{$light}, 0.5);
	--dash-stats-data-widget-primary: #{$widget-primary};
	--dash-stats-data-widget-success: #{$widget-success};
	--dash-stock-control-chart-border: #{$white};
	--dash-widget-current-stock-value-bg: #{$red-light};
	--dash-widget-current-stock-value-text: #{$red};
	--dash-add-widget-color: #{$gray-500};
	--dash-card-bg: #{$white};
	--dash-blue-trans: #{$blue-trans};
	--dash-green-trans: #{$green-trans};
	--dash-green-light: #{$green-light};
	--dash-green-blue: #{$green-blue};
	--dash-h5-text: #444;
	--atum-marketing-popup-bg: #{$white};
	--dash-input-group-bg: transparentize(#{$white}, 0.34);
	--dash-input-group-shadow: transparentize(#{$white}, 0.8);
	--dash-input-placeholder: #{$gray-500};
	--dash-widget-header-title: #{$blue-dark};
	--dash-statistics-ticks: #{$blue-dark};
	--dash-statistics-grid-lines: #{$gray-200};
	--dash-statistics-chart-type-bg: transparentize(#{$light}, 0.8);
	--dash-border: #{$gray-200};
	--dash-statistics-chart-type-selected-bg: transparent;
	--dash-statistics-chart-type-selected-text: #{$warning};
	--dash-statistics-legend-switch-bg: transparentize(#{$light}, 0.8);
	--dash-next-text:  #{$gray-200};
	--dash-video-subs-text: #{$gray-500};
}
