//
// Global Variables
//------------------

// Paths
$font-path:                             "../fonts/" !default;
$img-path:                              "../images/" !default;

// Fonts
$font-size-base:                        14px !default;
$line-height-base:                      1.5 !default;

// Grid settings
$main-sm-columns:                       12 !default;
$sidebar-sm-columns:                    4 !default;
$grid-gutter-width:                     30px !default;
$grid-columns:                          12 !default;
$enable-grid-classes:                   true !default;
$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px
) !default;
$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px
) !default;


$max-width-limit:                       1280px !default;

// Colors
$brand-primary:                         #00B8DB !default;
$brand-info:                            #E3E8F5 !default;
$brand-warning:                         #EFAF00 !default;
$brand-danger:                          #FF4848 !default;
$brand-success:                         #82C342 !default;

$gray:                                  #C1C1C1 !default;
$gray-light:                            #F9F9F9 !default;
$gray-dark:                             #333333 !default;
$blue-light:                            #D5F2F8 !default;

$link:                                  #0073AA !default;
$link-hover:                            #00A0D2 !default;

// Media queries breakpoints
$screen-xs:                             480px !default;
$screen-xs-min:                         $screen-xs !default;

// Small screen / tablet
$screen-sm:                             768px !default;
$screen-sm-min:                         $screen-sm !default;

// Medium screen / desktop
$screen-md:                             992px !default;
$screen-md-min:                         $screen-md !default;

// Large screen / wide desktop
$screen-lg:                             1200px !default;
$screen-lg-min:                         $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:                         ($screen-sm-min - 1) !default;
$screen-sm-max:                         ($screen-md-min - 1) !default;
$screen-md-max:                         ($screen-lg-min - 1) !default;

// Buttons
$btn-success:                           $brand-success !default;
$btn-primary:                           $brand-primary !default;
$btn-warning:                           $brand-warning !default;
$btn-danger:                            $brand-danger !default;
$btn-info:                              $brand-info !default;

// Tooltips
$zindex-tooltip:                        1070 !default;
$tooltip-max-width:                     200px !default;
$tooltip-font-size:                     12px !default;
$tooltip-color:                         #FFF !default;
$tooltip-bg:                            #000 !default;
$tooltip-opacity:                       .9 !default;

$tooltip-arrow-width:                   5px !default;
$tooltip-arrow-color:                   $tooltip-bg !default;

// Popovers
$popover-bg:                            #FFF !default;
$popover-max-width:                     276px !default;
$popover-border-color:                  rgba(0,0,0,.2) !default;
$popover-fallback-border-color:         #CCC !default;
$popover-border-radius:                 6px !default;

$popover-title-bg:                      darken($popover-bg, 3%) !default;

$popover-arrow-width:                   10px !default;
$popover-arrow-color:                   $popover-title-bg !default;

$popover-arrow-outer-width:             ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:             fade_in($popover-border-color, 0.05) !default;
$popover-arrow-outer-fallback-color:    darken($popover-fallback-border-color, 20%) !default;

$zindex-popover:                        99999999 !default;

// Inputs
$input-border-width:                    1px !default;
$input-padding-y:                       .375rem !default;
$input-padding-x:                       .75rem !default;
$input-border-radius:                   0;
$input-focus:                           #5B9DD9 !default;
$input-group-addon-color:               $gray;
$input-group-addon-bg:                  $blue-light;
$input-border-color:                    #DDD;

// Widgets
$widget-text:                           #AFAFAF !default;
$widget-success:                        #69C61D !default;
$widget-primary:                        $brand-primary !default;
$widget-warning:                        $brand-warning !default;
$widget-danger:                         $brand-danger !default;

// Easing timing functions
$easing: (
		linear: cubic-bezier(0.250, 0.250, 0.750, 0.750),
		
		ease: cubic-bezier(0.250, 0.100, 0.250, 1.000),
		ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000),
		ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000),
		ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000),
		
		ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045),
		ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275),
		ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55),
		
		ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715),
		ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1),
		ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95),
		
		ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
		ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
		ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955),
		
		ease-in-cubic: cubic-bezier(0.55, 0.085, 0.68, 0.53),
		ease-out-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94),
		ease-in-out-cubic: cubic-bezier(0.455, 0.03, 0.515, 0.955),
		
		ease-in-quart: cubic-bezier(0.55, 0.085, 0.68, 0.53),
		ease-out-quart: cubic-bezier(0.25, 0.46, 0.45, 0.94),
		ease-in-out-quart: cubic-bezier(0.455, 0.03, 0.515, 0.955)
);